.root {
  color: var(--ac-calendar-general-title);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--4-space);
  background: var(--ac-calendar-general-bg);
}

.weekday {
  width: var(--40-size);
  min-width: var(--40-size);
  height: var(--40-size);
  display: flex;
  align-items: center;
  justify-content: center;
}
