.root {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: var(--steel-10);
}

.weekday {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
