.icon {
  display: flex;
  align-items: center;
  height: 24px;
  max-width: 24px;
  transition: transform 0.3s ease-in-out;

  &-rotate {
    &-open {
      transform: rotate(180deg);
    }
  }
}

.wrapper {
  position: relative;
}

.button {
  &:focus {
    background-color: var(--brand-sapphire-30);
    color: var(--unique-bluewhite);
  }
}
