.wrapper {
  position: relative;
}

.dropdown {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.icon {
  display: inline-block;
  transition: transform 0.3s;

  &.expanded {
    transform: rotate(180deg);
  }

  &.collapsed {
    transform: rotate(0deg);
  }
}
