$thumb-wrapper: 80px;
$thumb: 74px;

.carousel {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  overscroll-behavior-x: contain;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.item {
  flex: 0 0 auto;
  width: $thumb-wrapper;
  height: $thumb-wrapper;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  scroll-snap-align: center;
}

.thumb {
  width: $thumb;
  height: $thumb;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

.active {
  border-color: var(--unique-white);
}
