.autocomplete {
  position: relative;
}

.icon-disabled {
  svg {
    color: var(--steel-70);
  }
  path {
    fill: var(--steel-70);
  }
}

.menu-item {
  white-space: normal;
  height: auto;
}

.total {
  padding: 12px;
  color: var(--steel-70);
}

.not-found-item {
  padding: 12px;

  & span[data-testid="typography-wrapper"] {
    color: var(--spectrum-red-60);
  }
}
