.wrapper {
  width: 1800px;
  background-color: var(--unique-background);
  padding: 24px;
  border-radius: 10px;
  display: flex;
}

.header-container [data-ui-dropdown-button] {
  background: none;
  &:hover {
    background: none;
  }
  &:active {
    background: none;
  }
}
.header-container [data-ui-dropdown-button-children] {
  background: none;
  font-weight: var(--heading2-32-font-weight);
  font-size: var(--heading2-32-font-size);
  line-height: var(--heading2-32-line-height);
}
.header-container [data-ui-dropdown-menu-item-container] {
  &:hover {
    background-color: var(--brand-sapphire-10);
  }
  &:active {
    background-color: var(--brand-sapphire-20);
  }
}
.header-container [data-ui-dropdown-menu-item]:nth-child(n) {
  color: var(--brand-sapphire-60);
  font-weight: var(--heading2-32-font-weight);
  font-size: var(--heading2-32-font-size);
  line-height: var(--heading2-32-line-height);
}
