.item {
  position: relative;
  color: var(--steel-90);
  white-space: normal;
  word-wrap: break-word;
  text-wrap: balance;

  &:hover {
    background-color: var(--steel-30);
  }

  &.disabled {
    opacity: 0.45;

    div {
      cursor: default;
      pointer-events: none;
    }
  }

  &.focused {
    background-color: var(--steel-30);
  }

  &.selected {
    background: var(--brand-sapphire-10);

    &:hover {
      background-color: var(--brand-sapphire-20);
    }
  }
}
