.radio {
  display: flex;
  gap: 12px;

  // Миксин для установки размеров круга радио-кнопки
  @mixin radio-circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
  }

  // Миксин для центрирования содержимого
  @mixin center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Базовые стили для input[type="radio"]
  input[type="radio"] {
    @include radio-circle(20px);
    appearance: none;
    position: relative;
    margin: 0;
    cursor: pointer;

    // Внешний круг радио-кнопки
    &:before {
      content: "";
      @include center-content;
      @include radio-circle(16px);
      border: 2px solid var(--steel-60);
      background: var(--steel-10);
    }

    // Внутренний круг радио-кнопки (появляется при выборе)
    &:after {
      content: "";
      @include center-content;
      @include radio-circle(10px);
      background-color: var(--brand-sapphire-60);
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    // Стили для выбранной радио-кнопки
    &:checked {
      &:before {
        border-color: var(--brand-sapphire-60);
      }

      &:after {
        opacity: 1;
      }
    }

    // Стили при наведении
    &:not(:disabled) {
      &:hover {
        &:before {
          border-color: var(--steel-60);
          box-shadow: 0 0 0 6px rgb(from var(--steel-60) r g b / 12%);
        }
      }

      &:checked:hover {
        &:before {
          border-color: var(--brand-sapphire-60);
          box-shadow: 0 0 0 6px rgb(from var(--brand-sapphire-60) r g b / 12%);
        }

        &:after {
          box-shadow: 0 0 0 3px rgb(from var(--brand-sapphire-60) r g b / 12%);
        }
      }
    }

    // Стили для отключенной радио-кнопки
    &:disabled {
      cursor: default;

      &:before {
        background-color: var(--steel-30);
        border-color: var(--steel-50);
      }

      &:checked {
        &:before, &:after {
          opacity: 0.5;
        }

        &:after {
          background-color: var(--steel-50);
        }
      }
    }
  }
}

// Стили для лейбла радио-кнопки
.label {
  cursor: pointer;

  &-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: default;
  }
}
