.wrapper {
  background-color: var(--steel-10);
  padding: 30px;
  border-radius: 10px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
