@mixin input-color-states {
  &.error {
    color: var(--spectrum-red-60);
  }

  &.warning {
    color: var(--spectrum-yellow-60);
  }

  &.success {
    color: var(--spectrum-green-60);
  }
}

@mixin input-border-color-states {
  &.error {
    border-color: var(--spectrum-red-60);
    background-color: var(--steel-10);
  }

  &.warning {
    border-color: var(--spectrum-yellow-60);
    background-color: var(--steel-10);
  }

  &.success {
    border-color: var(--spectrum-green-60);
    background-color: var(--steel-10);
  }
}

@mixin font-styles {
  font-size: var(--body1-medium-16-fontSize);
  font-weight: var(--body1-medium-16-fontWeight);
  line-height: var(--body1-medium-16-lineHeight);
  letter-spacing: var(--body1-medium-16-letterSpacing);
  text-decoration: var(--body1-medium-16-textDecoration);
}

.input-wrapper {
  font-family: var(--font-families-pt-root-ui);
  position: relative;

  &:hover {
    .text-field:not(:disabled):not(:focus) {
      border-color: var(--steel-80);
      @include input-border-color-states;
    }
  }

  // Стили для "плавающего" лейбла
  input:focus ~ label,
  textarea:focus ~ label,
  input:not(:placeholder-shown):not(:focus) ~ label,
  textarea:not(:placeholder-shown):not(:focus) ~ label {
    top: -6px;
    left: 12px;
    line-height: 11px;
    padding: 0 4px;
    // Создаем эффект "разрыва" границы инпута для лейбла
    background: linear-gradient(to top, var(--steel-10) 50%, transparent 50%);
  }

  // Стили для лейбла при colored=true
  &.colored {
    input:focus ~ label,
    textarea:focus ~ label,
    input:not(:placeholder-shown):not(:focus) ~ label,
    textarea:not(:placeholder-shown):not(:focus) ~ label {
      background: linear-gradient(to top, var(--spectrum-yellow-10) 50%, transparent 50%);
    }
  }

  // Стили для лейбла в фокусе
  input:focus ~ label,
  textarea:focus ~ label {
    color: var(--brand-sapphire-60);
    @include input-color-states;
  }

  // Стили для лейбла при отключенном инпуте
  input:not(:placeholder-shown):not(:focus):disabled ~ label,
  textarea:not(:placeholder-shown):not(:focus):disabled ~ label {
    background: linear-gradient(to top, var(--steel-30) 50%, transparent 50%);
  }

  // Скрываем плейсхолдер, когда инпут не пустой
  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown),
  input:not(:focus),
  textarea:not(:focus) {
    &::placeholder {
      visibility: hidden;
    }
  }
}

.text-field {
  width: 100%;
  height: 40px;
  color: var(--steel-90);
  box-sizing: border-box;
  font-family: inherit;
  @include font-styles;
  border-radius: 4px;
  z-index: 2;
  border: 1px solid var(--steel-50);
  outline: none;
  background: var(--steel-10);
  font-variant-numeric: tabular-nums lining-nums;
  padding: 0 16px;
  @include input-border-color-states;

  &::placeholder {
    @include font-styles;
    color: var(--steel-70);
  }

  &.input-with-icon {
    padding-right: 36px;
  }

  &.compact {
    height: 32px;

    ~ label {
      padding: 5px 16px;
    }

    ~ .icon {
      height: 24px;
    }
  }

  &.extra-compact {
    height: 28px;

    ~ label {
      padding: 4px 16px;
    }

    ~ .icon {
      height: 16px;
      padding-top: 2px;
    }
  }

  &:disabled {
    border-color: var(--steel-50);
    background-color: var(--steel-30);
    -webkit-text-fill-color: var(--steel-70);
    color: var(--steel-70);
  }

  &:focus {
    border-color: var(--brand-sapphire-60);

    @include input-border-color-states;
  }
}

.textarea {
  min-height: 80px;
  display: inline-block;
  overflow: auto;
  resize: none;
  padding: 8px 16px;

  &.resize {
    resize: both;
  }

  ::-webkit-resizer {
    display: none;
  }
}

.label {
  position: absolute;
  padding: 10px 16px;
  left: 0;
  color: var(--steel-70);
  cursor: text;
  transition: 100ms ease-out;
  max-width: calc(100% - 32px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include input-color-states;

  .typography {
    line-height: inherit;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon {
  position: absolute;
  top: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand-sapphire-60);
  background: transparent;
  @include input-color-states;
}

.reset {
  cursor: pointer;
  pointer-events: auto;
  right: 8px;

  &-with-icon {
    right: 48px;
  }
}

.icon-text {
  right: 8px;
}

.helper-text {
  display: flex;
  margin: 0;
  padding-top: 4px;
  padding-left: 16px;
  color: var(--steel-70);
  @include input-color-states;
}

.disabled {
  color: var(--steel-70);
  background-color: var(--steel-30);
  cursor: default;

  &-input {
    pointer-events: none !important;
  }
}

.colored {
  &.text-field,
  &.textarea {
    background-color: var(--spectrum-yellow-10) !important;
  }
}
