.wrapper {
  width: 100%;
  :global {
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .row {
      width: 100%;
      display: flex;
      gap: 16px;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .col {
      flex: 1;
      min-width: 250px;
    }
  }
}
