.tableContainer {
  width: 800px;
  max-width: 100%;
  border: 1px solid var(--unique-divider);
}

.handle {
  display: inline-flex;
  align-items: center;
  cursor: grab;

  path {
    fill: var(--steel-70);
  }

  &:hover path {
    fill: var(--steel-90);
  }
}

.row {
  &.dragging {
    opacity: 0.5;
  }
}
