.selector {
  display: grid;
  box-sizing: border-box;
  height: 368px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 28px 8px 8px 8px;
  margin-top: 4px;
  gap: 4px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--steel-10);
  width: 100px;
  grid-template-columns: repeat(3, 40px);

  &-single {
    padding: 0 8px 0 8px;
  }

  &-with-seconds {
    width: 140px;
  }

  &-column {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    &-title {
      position: sticky;
      top: 0;
      color: var(--steel-70);
      font-variant-numeric: tabular-nums lining-nums;
      background: var(--steel-10);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 48px;
      z-index: 1;
    }
  }
}

.title-start-period {
  position: absolute;
  color: var(--steel-90);
  top: 12px;
  left: 24px;
  z-index: 1000;

  &-with-seconds {
    position: absolute;
    color: var(--steel-90);
    top: 12px;
    left: 44px;
    z-index: 1000;
  }
}

.title-end-period {
  position: absolute;
  color: var(--steel-90);
  top: 12px;
  left: 10px;
  z-index: 1000;

  &-with-seconds {
    position: absolute;
    color: var(--steel-90);
    top: 12px;
    left: 30px;
    z-index: 1000;
  }
}

.blur {
  position: absolute;
  background-color: var(--steel-10);
  filter: blur(20px);
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 0;
}
