.selector {
  display: grid;
  height: var(--280-size);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: var(--12-space) var(--16-space) 0 var(--16-space);
  margin-top: var(--8-space);
  gap: var(--4-space);
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  border-radius: var(--4-radius);
  background-color: var(--ac-calendar-general-bg);
  width: var(--80-size);
  grid-template-columns: repeat(3, var(--40-size));

  &-with-seconds {
    width: 120px;
  }

  &-column {
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;

    &-title {
      position: sticky;
      top: 0;
      color: var(--ac-calendar-general-title);
      font-variant-numeric: tabular-nums lining-nums;
      background: var(--ac-calendar-general-bg);
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--40-size);
      height: var(--48-size);
      z-index: 1;
    }
  }
}
