@mixin outline {
  border-style: solid;
  background-color: transparent;
  padding: var(--0-space) 6px;
}

.badge {
  box-sizing: border-box;
  min-width: var(--24-size);
  height: var(--24-size);
  border-radius: var(--circle-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: var(--2-border);
  cursor: default;
  padding: var(--0-space) var(--8-space);
}

.compact {
  min-width: var(--16-size);
  height: var(--16-size);
  border-width: var(--1-border);
  padding: var(--0-space) var(--4-space);
}

.large {
  min-width: var(--26-size);
  height: var(--26-size);
}

// Список ваших цветовых вариантов
$variants: primary, secondary, error, warning, success, grey;

// Соответствующие цвета для каждого варианта
$bg-colors: (
  primary: var(--ac-badge-solid-primary-fill),
  secondary: var(--ac-badge-solid-secondary-fill),
  error: var(--ac-badge-solid-error-fill),
  warning: var(--ac-badge-solid-warning-fill),
  success: var(--ac-badge-solid-success-fill),
  grey: var(--ac-badge-solid-grey-fill)
);

$text-colors: (
  primary: var(--ac-badge-solid-primary-text),
  secondary: var(--ac-badge-solid-secondary-text),
  error: var(--ac-badge-solid-error-text),
  warning: var(--ac-badge-solid-warning-text),
  success: var(--ac-badge-solid-success-text),
  grey: var(--ac-badge-solid-grey-text)
);

$outline-colors: (
  primary: var(--ac-badge-outline-primary-stroke),
  secondary: var(--ac-badge-outline-secondary-stroke),
  error: var(--ac-badge-outline-error-stroke),
  warning: var(--ac-badge-outline-warning-stroke),
  success: var(--ac-badge-outline-success-stroke),
  grey: var(--ac-badge-outline-grey-stroke)
);

$outline-text: (
  primary: var(--ac-badge-outline-primary-text),
  secondary: var(--ac-badge-outline-secondary-text),
  error: var(--ac-badge-outline-error-text),
  warning: var(--ac-badge-outline-warning-text),
  success: var(--ac-badge-outline-success-text),
  grey: var(--ac-badge-outline-grey-text)
);

// Цикл для генерации стилей для каждого варианта
@each $variant in $variants {
  .#{"" + $variant} {
    background-color: map-get($bg-colors, $variant);
    color: map-get($text-colors, $variant);
  }

  .outline-#{"" + $variant} {
    @include outline;
    border-color: map-get($outline-colors, $variant);
    color: map-get($outline-text, $variant);
  }
}

.compact-outline {
  padding: var(--0-space) 3px;
}
