@mixin outline {
  outline-style: solid;
  background-color: transparent;
}

// FIXME: --circle-radius removed, not replaced
.badge {
  box-sizing: border-box;
  min-width: 24px;
  width: fit-content;
  border-radius: 666px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline-width: 2px;
  outline-offset: -2px;
  cursor: default;
  padding: 4px 8px;
}

.large {
  min-width: 26px;
  padding: 2px 8px;
}

.compact {
  min-width: 16px;
  // ширина бордера для варианта outline
  outline-width: 1px;
  outline-offset: -1px;
  padding: 0 4px;
}

.xs {
  min-width: 12px;
  padding: 0 3px;
  outline-width: 1px;
  outline-offset: -1px;
}

// Список цветовых вариантов
$variants: brand, grey, error, warning, success;

// Соответствующие цвета для каждого варианта
$bg-colors: (
  brand: var(--brand-sapphire-30),
  grey: var(--steel-50),
  error: var(--spectrum-red-40),
  warning: var(--spectrum-yellow-40),
  success: var(--spectrum-green-40)
);

$outline-colors: (
  brand: var(--brand-sapphire-40),
  grey: var(--steel-60),
  error: var(--spectrum-red-40),
  warning: var(--spectrum-yellow-40),
  success: var(--spectrum-green-40)
);

// Цикл для генерации стилей для каждого варианта
@each $variant in $variants {
  .#{"" + $variant} {
    background-color: map-get($bg-colors, $variant);
    color: var(--steel-90);
  }

  .outline-#{"" + $variant} {
    @include outline;
    outline-color: map-get($outline-colors, $variant);
    color: var(--steel-90);
  }
}
