.wrapper {
  background-color: var(--steel-10);
  padding: 20px;
  border-radius: 4px;
  margin-top: -20px;
  span,
  ul > li {
    color: var(--steel-90);
  }
  a > span,
  button > span,
  div[role="tooltip"] > span,
  div[data-testid="tooltip"] > div > span {
    color: inherit !important;
  }
}

.intro,
.footer {
  display: grid;
  grid-gap: 40px;
  grid-template-rows: auto auto;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 8px;
}

.footer {
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr 1fr;
}

.description,
.footer-section {
  display: grid;
  > * {
    margin: 0;
  }
}

.description {
  grid-template-rows: repeat(5, auto);
}

.description-buttons,
.footer-section {
  > * {
    padding-right: 16px;
  }
}

.description-buttons {
  display: flex;
}

.icon {
  justify-self: end;
}

.footer-section {
  grid-template-rows: auto 1fr auto;
  justify-items: start;
  border: 2px solid var(--unique-divider);
  border-radius: 16px;
  padding: 24px 32px;
}

.description-header {
  padding-bottom: 30px;
}

.description-subheader,
.footer-header {
  padding-bottom: 16px;
}

.description-definition {
  padding-bottom: 40px;
}

.description-buttons--primary {
  padding-bottom: 36px;
}

.code {
  font-family: monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: baseline;
  background: rgb(232, 232, 232);
  border-radius: 3px;
  color: dimgrey;
  font-size: 14px;
  padding: 5px 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  div {
    font-family: monospace !important;
  }
}

.links {
  text-wrap: nowrap !important;
  > a, a:hover {
    text-decoration: none !important;
  }
  svg {
    path {
      fill: white !important;
    }
  }
}

.npm {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    margin-bottom: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}

.license {
  color: var(--assigned-colors-button-main-main-bg-default);
  &:hover {
    text-decoration: none;
  }
}

.date {
  opacity: 0.5;
}

.history {
  margin-top: -10px;
}

.link {
  border-bottom: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

.list {
  font-size: 18px;
  li {
    display: block;
    gap: 2.5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .link-changelog {
    display: inline-flex;
  }
  .left-padding {
    padding-left: 20px;
    opacity: 0.5;
  }
}
