.prettierrc
node_modules
# Ignore artifacts:
build
coverage
storybook-static
lib
dist
.yalc

# Type declaration files
*.d.ts

# Files using TS 4.9+ `satisfies` operator
src/components/Status/_stories/argsTypes.ts

# Auto-генерируется через `yarn generateIconsExports`
src/components/Icon/IconsDirectory/index.ts
src/components/Icon/IconsDirectory/System/index.ts
