:root {
  --spectrum-red-10: #753d44ff;
  --spectrum-red-20: #8a4149ff;
  --spectrum-red-30: #9c454fff;
  --spectrum-red-40: #b04853ff;
  --spectrum-red-50: #c7535fff;
  --spectrum-red-60: #ff7b89ff;
  --spectrum-green-10: #365c3fff;
  --spectrum-green-20: #3b6845ff;
  --spectrum-green-30: #3d774bff;
  --spectrum-green-40: #468154ff;
  --spectrum-green-50: #589466ff;
  --spectrum-green-60: #7bc790ff;
  --spectrum-yellow-10: #645b3bff;
  --spectrum-yellow-20: #8e7a34ff;
  --spectrum-yellow-30: #a58c32ff;
  --spectrum-yellow-40: #ba9c30ff;
  --spectrum-yellow-50: #d2b341ff;
  --spectrum-yellow-60: #f0d05dff;
  --spectrum-violet-10: #564a65ff;
  --spectrum-violet-20: #615373ff;
  --spectrum-violet-30: #705e86ff;
  --spectrum-violet-40: #846e9fff;
  --spectrum-violet-50: #997fbaff;
  --spectrum-violet-60: #ad8dd2ff;
  --spectrum-salad-10: #52633bff;
  --spectrum-salad-20: #5f7443ff;
  --spectrum-salad-30: #6d874aff;
  --spectrum-salad-40: #7e9c56ff;
  --spectrum-salad-50: #8baa60ff;
  --spectrum-salad-60: #a3c178ff;
  --spectrum-tiffany-10: #33676fff;
  --spectrum-tiffany-20: #3e7b82ff;
  --spectrum-tiffany-30: #488f95ff;
  --spectrum-tiffany-40: #52a0a6ff;
  --spectrum-tiffany-50: #5ab0b5ff;
  --spectrum-tiffany-60: #6ec7ccff;
  --spectrum-coffee-10: #524b4aff;
  --spectrum-coffee-20: #625754ff;
  --spectrum-coffee-30: #796a66ff;
  --spectrum-coffee-40: #877874ff;
  --spectrum-coffee-50: #9a8985ff;
  --spectrum-coffee-60: #bbaaa6ff;
  --spectrum-blueberry-10: #49547fff;
  --spectrum-blueberry-20: #4f5c92ff;
  --spectrum-blueberry-30: #5e6ba2ff;
  --spectrum-blueberry-40: #717eb6ff;
  --spectrum-blueberry-50: #8693cbff;
  --spectrum-blueberry-60: #98a6dfff;
  --spectrum-rose-10: #65485bff;
  --spectrum-rose-20: #76556bff;
  --spectrum-rose-30: #8e6882ff;
  --spectrum-rose-40: #a27494ff;
  --spectrum-rose-50: #b580a4ff;
  --spectrum-rose-60: #d0a1c1ff;
  --spectrum-khaki-10: #485036ff;
  --spectrum-khaki-20: #50593dff;
  --spectrum-khaki-30: #5d6648ff;
  --spectrum-khaki-40: #677051ff;
  --spectrum-khaki-50: #76805dff;
  --spectrum-khaki-60: #9dab7aff;
  --spectrum-sky-10: #2f5f8cff;
  --spectrum-sky-20: #346b9eff;
  --spectrum-sky-30: #3d77acff;
  --spectrum-sky-40: #4e89bfff;
  --spectrum-sky-50: #5b95ccff;
  --spectrum-sky-60: #93ccffff;
  --spectrum-orange-10: #805a39ff;
  --spectrum-orange-20: #96663dff;
  --spectrum-orange-30: #b57743ff;
  --spectrum-orange-40: #d18340ff;
  --spectrum-orange-50: #de8c45ff;
  --spectrum-orange-60: #ffac65ff;
  --steel-10: #455161ff;
  --steel-20: #4a5868ff;
  --steel-30: #526172ff;
  --steel-40: #5e6d7eff;
  --steel-50: #697889ff;
  --steel-60: #788696ff;
  --steel-70: #bbc4caff;
  --steel-80: #dde1e4ff;
  --steel-90: #f2f3f4ff;
  --brand-jeans-10: #62738cff;
  --brand-jeans-20: #4c586aff;
  --brand-jeans-30: #353b47ff;
  --brand-sapphire-10: #43597dff;
  --brand-sapphire-20: #4b638aff;
  --brand-sapphire-30: #58729eff;
  --brand-sapphire-40: #3663aaff;
  --brand-sapphire-50: #3c73caff;
  --brand-sapphire-60: #619effff;
  --unique-black: #111111ff;
  --unique-background: #3c4854ff;
  --unique-white: #ffffffff;
  --unique-bluewhite: #ffffffff;
  --unique-section: #6a7682ff;
  --unique-divider: #c1c6c84d;
  --mnemo-10: #3c4854ff;
  --mnemo-20: #465873ff;
  --mnemo-30: #536a86ff;
  --mnemo-40: #647d9bff;
  --mnemo-50: #738ba8ff;
  --mnemo-60: #8ba1bdff;
  --mnemo-70: #b5c6dbff;
  --mnemo-80: #dfe7efff;
  --mnemo-90: #eff4f9ff;
}