:root {
  --spectrum-red-10: #ffd3d8ff;
  --spectrum-red-20: #ffb8c0ff;
  --spectrum-red-30: #fb98a3ff;
  --spectrum-red-40: #f76979ff;
  --spectrum-red-50: #ed4558ff;
  --spectrum-red-60: #d63345ff;
  --spectrum-green-10: #d5f3dbff;
  --spectrum-green-20: #b1e3bcff;
  --spectrum-green-30: #8cd39bff;
  --spectrum-green-40: #5bbd70ff;
  --spectrum-green-50: #43ae5aff;
  --spectrum-green-60: #3b8e4dff;
  --spectrum-yellow-10: #fff9c2ff;
  --spectrum-yellow-20: #fcec96ff;
  --spectrum-yellow-30: #ffe177ff;
  --spectrum-yellow-40: #ffce5cff;
  --spectrum-yellow-50: #f9bc2eff;
  --spectrum-yellow-60: #eea601ff;
  --spectrum-violet-10: #f4ebffff;
  --spectrum-violet-20: #e6d3ffff;
  --spectrum-violet-30: #ccb2ecff;
  --spectrum-violet-40: #b090d7ff;
  --spectrum-violet-50: #9f78ceff;
  --spectrum-violet-60: #9366cbff;
  --spectrum-salad-10: #e7f0cdff;
  --spectrum-salad-20: #dbe7a7ff;
  --spectrum-salad-30: #cfdd80ff;
  --spectrum-salad-40: #c7d764ff;
  --spectrum-salad-50: #b5c552ff;
  --spectrum-salad-60: #a4b73bff;
  --spectrum-tiffany-10: #e5f9f8ff;
  --spectrum-tiffany-20: #c7f1f0ff;
  --spectrum-tiffany-30: #a9e9e8ff;
  --spectrum-tiffany-40: #87dbd9ff;
  --spectrum-tiffany-50: #61c9c6ff;
  --spectrum-tiffany-60: #38b4b0ff;
  --spectrum-coffee-10: #e9e3e2ff;
  --spectrum-coffee-20: #d7cac7ff;
  --spectrum-coffee-30: #cbb7b2ff;
  --spectrum-coffee-40: #b8a09aff;
  --spectrum-coffee-50: #a58880ff;
  --spectrum-coffee-60: #97746bff;
  --spectrum-blueberry-10: #e7ebffff;
  --spectrum-blueberry-20: #c1ccfcff;
  --spectrum-blueberry-30: #b1bef5ff;
  --spectrum-blueberry-40: #99a8e7ff;
  --spectrum-blueberry-50: #8697e0ff;
  --spectrum-blueberry-60: #687edcff;
  --spectrum-rose-10: #fbeef7ff;
  --spectrum-rose-20: #f7cdeaff;
  --spectrum-rose-30: #ecb9dbff;
  --spectrum-rose-40: #e2a8cfff;
  --spectrum-rose-50: #de93c5ff;
  --spectrum-rose-60: #ce76b0ff;
  --spectrum-khaki-10: #e9ede0ff;
  --spectrum-khaki-20: #d4dbc6ff;
  --spectrum-khaki-30: #bcc7a8ff;
  --spectrum-khaki-40: #a4b088ff;
  --spectrum-khaki-50: #889569ff;
  --spectrum-khaki-60: #77884eff;
  --spectrum-sky-10: #dff0ffff;
  --spectrum-sky-20: #c6e4ffff;
  --spectrum-sky-30: #abd5fbff;
  --spectrum-sky-40: #7abbf6ff;
  --spectrum-sky-50: #62a9e8ff;
  --spectrum-sky-60: #4193daff;
  --spectrum-orange-10: #ffdeb8ff;
  --spectrum-orange-20: #ffd39fff;
  --spectrum-orange-30: #ffbd70ff;
  --spectrum-orange-40: #ffa842ff;
  --spectrum-orange-50: #f99c2fff;
  --spectrum-orange-60: #ea8d21ff;
  --steel-10: #ffffffff;
  --steel-20: #f7f7f7ff;
  --steel-30: #edeeefff;
  --steel-40: #e4e6e8ff;
  --steel-50: #ccd0d4ff;
  --steel-60: #95a1acff;
  --steel-70: #556472ff;
  --steel-80: #3c4a56ff;
  --steel-90: #001729ff;
  --brand-jeans-10: #184f8bff;
  --brand-jeans-20: #0b3461ff;
  --brand-jeans-30: #112542ff;
  --brand-sapphire-10: #d5e8fdff;
  --brand-sapphire-20: #c0dcfdff;
  --brand-sapphire-30: #99c5f8ff;
  --brand-sapphire-40: #4889eeff;
  --brand-sapphire-50: #2864ceff;
  --brand-sapphire-60: #1952b6ff;
  --unique-black: #111111ff;
  --unique-background: #edeeefff;
  --unique-white: #ffffffff;
  --unique-bluewhite: #1952b6ff;
  --unique-section: #dededeff;
  --unique-divider: #00172929;
  --mnemo-10: #f2f6fbff;
  --mnemo-20: #d6dde7ff;
  --mnemo-30: #b3c1d7ff;
  --mnemo-40: #9faec5ff;
  --mnemo-50: #7e92afff;
  --mnemo-60: #5c7395ff;
  --mnemo-70: #3b5274ff;
  --mnemo-80: #152b4aff;
  --mnemo-90: #0a1e39ff;
}