.icon-unit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  min-width: 32px;
  height: 32px;
  background-color: transparent;
  color: var(--brand-sapphire-60);
}
