.slide-toggle-wrapper {
  position: relative;
  &-compact {
    margin-left: 2px;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-default {
    height: 40px;
  }

  &-compact {
    height: 30px;
  }
}

.icon-wrapper {
  transition: 0.3s ease-in-out;

  &-default {
    height: 24px;
  }

  &-compact {
    height: 16px;
  }

  &-show {
    transform: rotate(90deg);
  }
}

.label-wrapper {
  margin-left: 8px;
}

.content-wrapper {
  position: relative;
  padding: 0px 24px 0 24px;
  margin: 16px 0 0 8px;
  background-color: inherit;
  color: var(--steel-90);
  border-radius: 4px;
  &-compact {
    right: 6px;
  }
}
