@mixin buttonBase {
  display: flex;
  align-items: center;
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.08s;
  width: max-content;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@mixin iconButtonSize($size) {
  min-width: $size;
  padding: var(--0-space);
}

@mixin compactStyles($size, $padding) {
  height: $size;
  padding: $padding;
}

.button {
  @include buttonBase;
  height: var(--40-size);
  border-radius: var(--4-radius);
  padding: var(--8-space) var(--12-space);
}

.icon-button {
  @include buttonBase;
  @include iconButtonSize(var(--40-size));
}

.icon-button-compact {
  @include iconButtonSize(var(--32-size));
}

.icon-button-extra-compact {
  @include iconButtonSize(var(--28-size));
}

.compact {
  border-width: var(--1-border) !important;
  @include compactStyles(var(--32-size), var(--4-space) var(--4-space));
  svg {
    height: var(--24-size);
    width: var(--24-size);
  }
}

.extra-compact {
  border-width: var(--1-border) !important;
  @include compactStyles(var(--28-size), var(--4-space) var(--4-space));
  svg {
    height: var(--16-size);
    width: var(--16-size);
  }
}

.left-icon,
.right-icon {
  display: flex;
}

.left-icon {
  padding-right: var(--4-space);
}

.right-icon {
  padding-left: var(--4-space);
}

.compact-left-icon {
  padding-right: var(--2-space);
}

.compact-right-icon {
  padding-left: var(--2-space);
}

.icon {
  display: flex;
  margin: auto;
}

@mixin solid-btn($bg, $tx, $hbg, $htx, $abg, $atx, $icon) {
  background-color: $bg;
  color: $tx;

  &:not(:disabled) {
    &:hover {
      background: $hbg;
      color: $htx;
    }

    &:active {
      background: $abg;
      color: $atx
    }
  }

  path {
    fill: $icon;
  }
}

@mixin outline-btn($bg, $tx, $hbg, $htx, $abg, $atx, $icon, $br, $hbr, $abr) {
  @include solid-btn($bg, $tx, $hbg, $htx, $abg, $atx, $icon);
  border: var(--2-border) solid $br;
  &:not(:disabled) {
    &:hover {
      border-color: $hbr;
    }

    &:active {
      border-color: $abr;
    }
  }
}

/* primary solid variant */

.primary-solid {
  @include solid-btn(
    var(--ac-button-primary-solid-default-bg),
    var(--ac-button-primary-solid-default-text),
    var(--ac-button-primary-solid-hover-bg),
    var(--ac-button-primary-solid-hover-text),
    var(--ac-button-primary-solid-pressed-bg),
    var(--ac-button-primary-solid-pressed-text),
    var(--ac-icon-white)
  )
}

/* primary outline variant */

.primary-outline {
  @include outline-btn(
    transparent,
    var(--ac-button-primary-outline-default-text),
    var(--ac-button-primary-outline-hover-bg),
    var(--ac-button-primary-outline-hover-text),
    var(--ac-button-primary-outline-pressed-bg),
    var(--ac-button-primary-outline-pressed-text),
    var(--ac-icon-blue),
    var(--ac-button-primary-outline-default-stroke),
    var(--ac-button-primary-outline-hover-stroke),
    var(--ac-button-primary-outline-pressed-stroke)
  )
}

/* primary clear variant */

.primary-clear {
  @include solid-btn(
    transparent,
    var(--ac-button-primary-clear-default-text),
    var(--ac-button-primary-clear-hover-bg),
    var(--ac-button-primary-clear-hover-text),
    var(--ac-button-primary-clear-pressed-bg),
    var(--ac-button-primary-clear-pressed-text),
    var(--ac-icon-blue)
  )
}

/* secondary variant */

.secondary {
  @include solid-btn(
    var(--ac-button-secondary-solid-default-bg),
    var(--ac-button-secondary-solid-default-text),
    var(--ac-button-secondary-solid-hover-bg),
    var(--ac-button-secondary-solid-hover-text),
    var(--ac-button-secondary-solid-pressed-bg),
    var(--ac-button-secondary-solid-pressed-text),
    var(--ac-icon-blue)
  )
}

/* grey solid variant */

.grey-solid {
  @include solid-btn(
    var(--ac-button-grey-solid-default-bg),
    var(--ac-button-grey-solid-default-text),
    var(--ac-button-grey-solid-hover-bg),
    var(--ac-button-grey-solid-hover-text),
    var(--ac-button-grey-solid-pressed-bg),
    var(--ac-button-grey-solid-pressed-text),
    var(--ac-icon-blue)
  )
}

/* grey outline variant */

.grey-outline {
  @include outline-btn(
    transparent,
    var(--ac-button-grey-outline-default-text),
    var(--ac-button-grey-outline-hover-bg),
    var(--ac-button-grey-outline-hover-text),
    var(--ac-button-grey-outline-pressed-bg),
    var(--ac-button-grey-outline-pressed-text),
    var(--ac-icon-grey),
    var(--ac-button-grey-outline-default-stroke),
    var(--ac-button-grey-outline-hover-stroke),
    var(--ac-button-grey-outline-pressed-stroke)
  )
}

/* grey clear variant */

.grey-clear {
  @include solid-btn(
    transparent,
    var(--ac-button-grey-clear-default-text),
    var(--ac-button-grey-clear-hover-bg),
    var(--ac-button-grey-clear-hover-text),
    var(--ac-button-grey-clear-pressed-bg),
    var(--ac-button-grey-clear-pressed-text),
    var(--ac-icon-grey)
  )
}

/* black solid variant */

.black-solid {
  @include solid-btn(
    var(--ac-button-black-solid-default-bg),
    var(--ac-button-black-solid-default-text),
    var(--ac-button-black-solid-hover-bg),
    var(--ac-button-black-solid-hover-text),
    var(--ac-button-black-solid-pressed-bg),
    var(--ac-button-black-solid-pressed-text),
    var(--ac-icon-white)
  )
}

/* black outline variant */

.black-outline {
  @include outline-btn(
    transparent,
    var(--ac-button-black-outline-default-text),
    var(--ac-button-black-outline-hover-bg),
    var(--ac-button-black-outline-hover-text),
    var(--ac-button-black-outline-pressed-bg),
    var(--ac-button-black-outline-pressed-text),
    var(--ac-icon-grey),
    var(--ac-button-black-outline-default-stroke),
    var(--ac-button-black-outline-hover-stroke),
    var(--ac-button-black-outline-pressed-stroke)
  )
}

/* black clear variant */

.black-clear {
  @include solid-btn(
    transparent,
    var(--ac-button-black-clear-default-text),
    var(--ac-button-black-clear-hover-bg),
    var(--ac-button-black-clear-hover-text),
    var(--ac-button-black-clear-pressed-bg),
    var(--ac-button-black-clear-pressed-text),
    var(--ac-icon-grey)
  )
}

.text-height-m {
  height: var(--24-size);
  line-height: var(--24-size);
}
.text-height-s {
  height: var(--24-size);
  line-height: var(--24-size);
}
.text-height-xs {
  height: var(--16-size);
  line-height: var(--16-size);
}

.icon-big-wrapper {
  margin: unset;
}
