@mixin buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: unset;
  outline: none;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  width: max-content;
  height: 40px;
  box-sizing: border-box;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@mixin iconButtonSize($size) {
  height: $size;
  min-width: $size;
}

@mixin compactStyles($size, $padding) {
  height: $size;
  padding: $padding;
}

@mixin badgeStyles($bg, $tx) {
  .badge {
    background-color: $bg;
    color: $tx;
  }
}

.button {
  @include buttonBase;
  border-radius: 4px;
  padding: 8px;
}

.icon {
  display: flex;

  &-button {
    @include buttonBase;
    @include iconButtonSize(40px);
    padding: 4px;
  }

  &-button-compact {
    @include iconButtonSize(32px);
  }

  &-button-extra-compact {
    @include iconButtonSize(28px);
  }

  &--left {
    &--size {
      &-m {
        margin: unset;
        padding-right: 4px;
      }

      &-s,
      &-xs {
        padding-right: 2px;
      }
    }
  }

  &--right {
    &--size {
      &-m {
        margin: unset;
        padding-left: 4px;
      }

      &-s,
      &-xs {
        padding-left: 2px;
      }
    }
  }
}

.typography {
  padding: 0 4px;
}

.compact {
  padding: 4px;
  height: 32px;

  &.outline {
    outline-width: 1px;
    outline-offset: -1px;
  }
}

.extra-compact {
  padding: 4px;
  height: 28px;

  &.outline {
    outline-width: 1px;
    outline-offset: -1px;
  }
}

/* BRAND */
.brand-primary {
  background: var(--brand-sapphire-50);
  color: var(--unique-white);
  @include badgeStyles(var(--brand-sapphire-40), var(--unique-white));

  &:hover:not(:disabled) {
    background: var(--brand-sapphire-40);
    @include badgeStyles(var(--brand-sapphire-50), var(--unique-white));
  }

  &:active:not(:disabled) {
    background: var(--brand-sapphire-60);
    @include badgeStyles(var(--brand-sapphire-40), var(--unique-white));
  }

  svg {
    color: var(--unique-white);
  }
}

.brand-secondary {
  background: var(--brand-sapphire-20);
  color: var(--unique-bluewhite);
  @include badgeStyles(var(--brand-sapphire-30), var(--steel-90));

  &:hover:not(:disabled) {
    background: var(--brand-sapphire-10);
  }

  &:active:not(:disabled) {
    background: var(--brand-sapphire-30);
    @include badgeStyles(var(--brand-sapphire-10), var(--steel-90));
  }

  svg {
    color: var(--unique-bluewhite);
  }
}

/* GREY */
.grey-primary {
  background: var(--steel-80);
  color: var(--steel-10);
  @include badgeStyles(var(--steel-70), var(--steel-10));

  &:hover:not(:disabled) {
    background: var(--steel-70);
    @include badgeStyles(var(--steel-80), var(--steel-10));
  }

  &:active:not(:disabled) {
    background: var(--steel-90);
    @include badgeStyles(var(--steel-70), var(--steel-10));
  }

  svg {
    color: var(--steel-10);
  }
}

.grey-secondary {
  background: var(--steel-40);
  color: var(--steel-90);
  @include badgeStyles(var(--steel-50), var(--steel-90));

  &:hover:not(:disabled) {
    background: var(--steel-30);
  }

  &:active:not(:disabled) {
    background: var(--steel-50);
    @include badgeStyles(var(--steel-30), var(--steel-90));
  }

  svg {
    color: var(--steel-80);
  }
}

/* GHOST */
.ghost-primary {
  background: transparent;
  color: var(--unique-bluewhite);
  outline: 2px solid var(--brand-sapphire-60);
  outline-offset: -2px;

  &:hover:not(:disabled) {
    background: var(--brand-sapphire-10);
  }

  &:active:not(:disabled) {
    background: var(--brand-sapphire-20);
  }

  svg {
    color: var(--brand-sapphire-60);
  }
}

.ghost-secondary {
  background: transparent;
  color: var(--brand-sapphire-60);

  &:hover:not(:disabled) {
    color: var(--steel-90);
    svg {
      color: var(--steel-90);
    }
  }

  &:active:not(:disabled) {
    color: var(--brand-sapphire-60);
    @include badgeStyles(var(--brand-sapphire-10), var(--steel-90));
  }

  svg {
    color: var(--brand-sapphire-60);
  }
}

/* ERROR */
.error-primary {
  background: var(--spectrum-red-50);
  color: var(--unique-white);
  @include badgeStyles(var(--spectrum-red-40), var(--unique-white));

  &:hover:not(:disabled) {
    background: var(--spectrum-red-40);
    @include badgeStyles(var(--spectrum-red-50), var(--unique-white));
  }

  &:active:not(:disabled) {
    background: var(--spectrum-red-60);
    @include badgeStyles(var(--spectrum-red-40), var(--unique-white));
  }

  svg {
    color: var(--unique-white);
  }
}

.error-secondary {
  background: var(--spectrum-red-20);
  color: var(--steel-90);
  @include badgeStyles(var(--spectrum-red-40), var(--steel-90));

  &:hover:not(:disabled) {
    background: var(--spectrum-red-10);
  }

  &:active:not(:disabled) {
    background: var(--spectrum-red-30);
    @include badgeStyles(var(--spectrum-red-10), var(--steel-90));
  }

  svg {
    color: var(--spectrum-red-60);
  }
}

/* WARNING */
.warning-primary {
  background: var(--spectrum-yellow-50);
  color: var(--unique-white);
  @include badgeStyles(var(--spectrum-yellow-40), var(--unique-white));

  &:hover:not(:disabled) {
    background: var(--spectrum-yellow-40);
    @include badgeStyles(var(--spectrum-yellow-50), var(--unique-white));
  }

  &:active:not(:disabled) {
    background: var(--spectrum-yellow-60);
    @include badgeStyles(var(--spectrum-yellow-40), var(--unique-white));
  }

  svg {
    color: var(--unique-white);
  }
}

.warning-secondary {
  background: var(--spectrum-yellow-20);
  color: var(--steel-90);
  @include badgeStyles(var(--spectrum-yellow-40), var(--steel-90));

  &:hover:not(:disabled) {
    background: var(--spectrum-yellow-10);
  }

  &:active:not(:disabled) {
    background: var(--spectrum-yellow-30);
    @include badgeStyles(var(--spectrum-yellow-10), var(--steel-90));
  }

  svg {
    color: var(--spectrum-yellow-60);
  }
}

/* SUCCESS */
.success-primary {
  background: var(--spectrum-green-50);
  color: var(--unique-white);
  @include badgeStyles(var(--spectrum-green-40), var(--unique-white));

  &:hover:not(:disabled) {
    background: var(--spectrum-green-40);
    @include badgeStyles(var(--spectrum-green-50), var(--unique-white));
  }

  &:active:not(:disabled) {
    background: var(--spectrum-green-60);
    @include badgeStyles(var(--spectrum-green-40), var(--unique-white));
  }

  svg {
    color: var(--unique-white);
  }
}

.success-secondary {
  background: var(--spectrum-green-20);
  color: var(--steel-90);
  @include badgeStyles(var(--spectrum-green-40), var(--steel-90));

  &:hover:not(:disabled) {
    background: var(--spectrum-green-10);
  }

  &:active:not(:disabled) {
    background: var(--spectrum-green-30);
    @include badgeStyles(var(--spectrum-green-10), var(--steel-90));
  }

  svg {
    color: var(--spectrum-green-60);
  }
}
