@mixin buttonBase {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: unset;
  outline: none;
  cursor: pointer;
  transition: 0.08s;
  width: max-content;
  box-sizing: border-box;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@mixin iconButtonSize($size) {
  min-width: $size;
  padding: 0;
}

@mixin compactStyles($size, $padding) {
  height: $size;
  padding: $padding;
}

@mixin badge-styles($bg, $tx) {
  .badge {
    background-color: $bg;
    color: $tx;
  }
}

.button {
  @include buttonBase;
  height: 40px;
  border-radius: 4px;
  padding: 8px 12px;
  transition: 0.1s ease-in-out;
}

.icon {
  display: flex;

  &-button {
    @include buttonBase;
    @include iconButtonSize(48px);
  }

  &-button-compact {
    @include iconButtonSize(32px);
    width: 32px;
  }

  &-button-extra-compact {
    @include iconButtonSize(28px);
  }

  &--left {
    &--size {
      &-m {
        margin: unset;
        padding-right: 4px;
      }

      &-s,
      &-xs {
        padding-right: 2px;
      }
    }
  }

  &--right {
    &--size {
      &-m {
        margin: unset;
        padding-left: 4px;
      }

      &-s,
      &-xs {
        padding-left: 2px;
      }
    }
  }
}

@mixin solid-btn($bg, $tx, $hbg, $abg, $icon, $badge-bg, $badge-hbg, $badge-abg, $badge-tx) {
  background-color: $bg;
  color: $tx;
  @include badge-styles($badge-bg, $badge-tx);

  &:not(:disabled) {
    &:hover {
      background: $hbg;
      @include badge-styles($badge-hbg, $badge-tx);
    }

    &:active {
      background: $abg;
      @include badge-styles($badge-abg, $badge-tx);
    }
  }

  svg {
    color: $icon;
  }
}

@mixin outline-btn($bg, $tx, $hbg, $abg, $icon, $br, $badge-bg, $badge-hbg, $badge-abg, $badge-tx) {
  @include solid-btn($bg, $tx, $hbg, $abg, $icon, $badge-bg, $badge-hbg, $badge-abg, $badge-tx);
  outline: 2px solid $br;
  outline-offset: -2px;
}

/* primary solid variant */

.primary-solid {
  @include solid-btn(
      var(--brand-sapphire-50),
      var(--unique-white),
      var(--brand-sapphire-40),
      var(--brand-sapphire-60),
      var(--unique-white),
      var(--brand-sapphire-40),
      var(--brand-sapphire-50),
      var(--brand-sapphire-40),
      var(--unique-white)
  )
}

/* primary outline variant */

.primary-outline {
  @include outline-btn(
      transparent,
      var(--unique-bluewhite),
      var(--brand-sapphire-10),
      var(--brand-sapphire-20),
      var(--brand-sapphire-60),
      var(--brand-sapphire-60),
      transparent,
      transparent,
      transparent,
      var(--steel-90)
  );

  .badge {
    outline-color: var(--brand-sapphire-60);
  }
}

/* primary clear variant */

.primary-clear {
  @include solid-btn(
      transparent,
      var(--unique-bluewhite),
      var(--brand-sapphire-10),
      var(--brand-sapphire-20),
      var(--brand-sapphire-60),
      var(--brand-sapphire-40),
      var(--brand-sapphire-40),
      var(--brand-sapphire-40),
      var(--unique-white)
  )
}

/* success variant */

.primary-success {
  @include solid-btn(
      var(--spectrum-green-50),
      var(--unique-white),
      var(--spectrum-green-40),
      var(--spectrum-green-60),
      var(--unique-white),
      var(--spectrum-green-40),
      var(--spectrum-green-50),
      var(--spectrum-green-40),
      var(--unique-white)
  )
}

/* warning variant */

.primary-warning {
  @include solid-btn(
      var(--spectrum-yellow-50),
      var(--unique-white),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-60),
      var(--unique-white),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-50),
      var(--spectrum-yellow-40),
      var(--unique-white)
  )
}

/* error variant */

.primary-error {
  @include solid-btn(
      var(--spectrum-red-50),
      var(--unique-white),
      var(--spectrum-red-40),
      var(--spectrum-red-60),
      var(--unique-white),
      var(--spectrum-red-40),
      var(--spectrum-red-50),
      var(--spectrum-red-40),
      var(--unique-white)
  )
}

/* secondary variant */

.secondary-solid {
  @include solid-btn(
      var(--brand-sapphire-20),
      var(--unique-bluewhite),
      var(--brand-sapphire-10),
      var(--brand-sapphire-30),
      var(--unique-bluewhite),
      var(--brand-sapphire-30),
      var(--brand-sapphire-30),
      var(--brand-sapphire-20),
      var(--steel-90)
  )
}
/* success variant */

.secondary-success {
  @include solid-btn(
      var(--spectrum-green-20),
      var(--spectrum-green-60),
      var(--spectrum-green-10),
      var(--spectrum-green-30),
      var(--spectrum-green-60),
      var(--spectrum-green-40),
      var(--spectrum-green-40),
      var(--spectrum-green-20),
      var(--steel-90)
  )
}

/* warning variant */

.secondary-warning {
  @include solid-btn(
      var(--spectrum-yellow-20),
      var(--spectrum-yellow-60),
      var(--spectrum-yellow-10),
      var(--spectrum-yellow-30),
      var(--spectrum-yellow-60),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-20),
      var(--steel-90)
  )
}

/* error variant */

.secondary-error {
  @include solid-btn(
      var(--spectrum-red-20),
      var(--spectrum-red-60),
      var(--spectrum-red-10),
      var(--spectrum-red-30),
      var(--spectrum-red-60),
      var(--spectrum-red-40),
      var(--spectrum-red-40),
      var(--spectrum-red-20),
      var(--steel-90)
  )
}

/* grey solid variant */

.grey-solid {
  @include solid-btn(
      var(--steel-30),
      var(--unique-bluewhite),
      var(--steel-40),
      var(--steel-50),
      var(--unique-bluewhite),
      var(--brand-sapphire-60),
      var(--brand-sapphire-60),
      var(--brand-sapphire-60),
      var(--unique-white)
  )
}

/* grey outline variant */

.grey-outline {
  @include outline-btn(
      transparent,
      var(--steel-70),
      var(--steel-30),
      var(--steel-40),
      var(--steel-70),
      var(--steel-70),
      transparent,
      transparent,
      transparent,
      var(--steel-90)
  );

  .badge {
    outline-color: var(--steel-70);
  }
}

/* grey clear variant */

.grey-clear {
  @include solid-btn(
      transparent,
      var(--steel-70),
      var(--steel-30),
      var(--steel-40),
      var(--steel-70),
      var(--steel-70),
      var(--steel-70),
      var(--steel-70),
      var(--steel-10)
  )
}

/* black solid variant */

.black-solid {
  @include solid-btn(
      var(--steel-80),
      var(--steel-10),
      var(--steel-70),
      var(--steel-90),
      var(--steel-10),
      var(--steel-70),
      var(--steel-80),
      var(--steel-70),
      var(--steel-10)
  )
}

/* black outline variant */

.black-outline {
  @include outline-btn(
      transparent,
      var(--steel-90),
      var(--steel-30),
      var(--steel-40),
      var(--steel-90),
      var(--steel-90),
      transparent,
      transparent,
      transparent,
      var(--steel-90)
  );

  .badge {
    outline-color: var(--steel-70);
  }
}

/* black clear variant */

.black-clear {
  @include solid-btn(
      transparent,
      var(--steel-90),
      var(--steel-30),
      var(--steel-40),
      var(--steel-90),
      var(--steel-70),
      var(--steel-70),
      var(--steel-70),
      var(--steel-10)
  )
}

/* info variant */

.info-clear {
  @include solid-btn(
      transparent,
      var(--steel-90),
      var(--steel-30),
      var(--steel-40),
      var(--brand-sapphire-60),
      var(--brand-sapphire-30),
      var(--brand-sapphire-30),
      var(--brand-sapphire-30),
      var(--steel-90)
  )
}

/* success variant */

.info-success {
  @include solid-btn(
      transparent,
      var(--steel-90),
      var(--spectrum-green-10),
      var(--spectrum-green-20),
      var(--spectrum-green-60),
      var(--spectrum-green-40),
      var(--spectrum-green-40),
      var(--spectrum-green-40),
      var(--steel-90)
  )
}

/* warning variant */

.info-warning {
  @include solid-btn(
      transparent,
      var(--steel-90),
      var(--spectrum-yellow-10),
      var(--spectrum-yellow-20),
      var(--spectrum-yellow-60),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-40),
      var(--spectrum-yellow-40),
      var(--steel-90)
  )
}

/* error variant */

.info-error {
  @include solid-btn(
      transparent,
      var(--steel-90),
      var(--spectrum-red-10),
      var(--spectrum-red-20),
      var(--spectrum-red-60),
      var(--spectrum-red-40),
      var(--spectrum-red-40),
      var(--spectrum-red-40),
      var(--steel-90)
  )
}


.label-wrapper {
  padding: 0 4px;
}

.compact {
  @include compactStyles(32px, 4px 4px);

  &.outline {
    outline-width: 1px;
    outline-offset: -1px;
  }
}

.extra-compact {
  @include compactStyles(28px, 4px 4px);

  &.outline {
    outline-width: 1px;
    outline-offset: -1px;
  }
}
