.container {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.reply {
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.form {
  margin-left: 40px;
  width: calc(100% - 40px);
  box-sizing: border-box;
  margin-top: 16px;
}
