.root {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.day {
  width: var(--40-size);
  height: var(--40-size);
}

.month {
  height: var(--40-size);
  width: var(--90-size);
}

.quarter {
  height: var(--40-size);
  width: 140px;
}

.year {
  height: var(--40-size);
  width: 90px;
}

@mixin background-helper($color, $opacity) {
  background: $color;
  opacity: $opacity;
}

.wrapper {
  cursor: pointer;
  color: var(--ac-calendar-general-text);
  background-color: var(--ac-calendar-general-bg);
  border-radius: var(--circle-radius);
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg);
  }
}

.selected {
  & .wrapper {
    background-color: var(--ac-calendar-state-selected-bg);
    color: var(--ac-calendar-state-selected-text);

    &:hover {
      opacity: var(--50-opacity);
    }
  }
}

.disableTimeChange {
  & .wrapper {
    opacity: var(--50-opacity);
    background-color: var(--ac-calendar-general-bg);
    cursor: not-allowed;
  }
}

.infiniteTimeScroll {
  position: relative;
}

.today {
  & .wrapper {
    border: var(--1-border) solid var(--ac-calendar-state-today-stroke);
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;

  & .wrapper {
    opacity: var(--50-opacity);
  }
}

.start {
  border-top-left-radius: var(--circle-radius);
  border-bottom-left-radius: var(--circle-radius);
  background-color: unset;

  & .wrapper {
    background-color: transparent;
  }

  position: relative;

  &:hover .wrapper {
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--95-opacity));
  }

  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 100%;
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
    z-index: -1;
    border-top-left-radius: var(--circle-radius);
    border-bottom-left-radius: var(--circle-radius);
  }

  &.selected {
    background: unset;

    &.hoverState {
      background-color: unset;

      &::before {
        background-color: var(--ac-calendar-state-hover-extra);
      }

      &::after {
        @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
        width: 100%;
      }
    }

    &::after {
      @include background-helper(var(--ac-calendar-state-selected-bg), var(--15-opacity));
      width: 100%;
      border-top-left-radius: var(--circle-radius);
      border-bottom-left-radius: var(--circle-radius);
      z-index: -1;
    }

    &::before {
      background-color: var(--primary-blue-100);
    }

    & .wrapper {
      background-color: var(--ac-calendar-state-selected-bg);
    }

    &:hover .wrapper {
      opacity: var(--50-opacity);
    }
  }
}

.mid {
  background-color: unset;

  & .wrapper {
    background-color: transparent;
    color: var(--ac-calendar-general-text);
  }

  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    bottom: 0;
    width: 2px;
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
    width: 100%;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: var(--4-size);
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
    z-index: -1;
  }

  &.selected {
    cursor: pointer;

    & .wrapper {
      cursor: pointer;
    }

    position:relative;
    background: unset;

    &:hover {
      background-color: var(--ac-calendar-state-hover-bg);
    }

    &::before {
      @include background-helper(var(--ac-calendar-state-selected-bg), var(--15-opacity));
      width: 100%;
      height: 100%;
    }

    &::after {
      @include background-helper(transparent, var(--15-opacity));
      height: 100%;
    }
  }
}

.end {
  background-color: unset;

  & .wrapper {
    background-color: transparent;
  }

  &:hover .wrapper {
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--95-opacity));
  }

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    bottom: 0;
    width: 100%;
    @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
    border-top-right-radius: var(--circle-radius);
    border-bottom-right-radius: var(--circle-radius);
    z-index: -1;
  }

  position: relative;

  &.start {
    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }

  &.selected {
    background: unset;

    &.hoverState {
      background-color: unset;

      &::before {
        background-color: var(--ac-calendar-state-hover-extra);
        width: 100%;
        @include background-helper(var(--ac-calendar-state-hover-extra), var(--50-opacity));
        border-top-right-radius: var(--circle-radius);
        border-bottom-right-radius: var(--circle-radius);
        z-index: -1;
      }
    }

    &::before {
      @include background-helper(var(--ac-calendar-state-selected-bg), var(--15-opacity));
      width: 100%;
      border-top-right-radius: var(--circle-radius);
      border-bottom-right-radius: var(--circle-radius);
      z-index: -1;
    }

    & .wrapper {
      background-color: var(--ac-calendar-state-selected-bg);
    }

    &:hover .wrapper {
      opacity: var(--50-opacity);
    }
  }
}
