@mixin icon-size {
  height: 96px;
  width: 96px;
}

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  // FIXME: --dark-primary-navyblue-50 not found
  background: var(--dark-primary-navyblue-50);
}

.image-container {
  width: 350px;
  height: 265px;
}

.image-content {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}

.icon-wrapper {
  > div {
    @include icon-size;

    > svg {
      @include icon-size;
    }
  }
}

.badges-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  gap: 4px;
  width: -webkit-fill-available;
  flex-wrap: wrap;
  padding: 12px 12px 0 12px;
}
.badges-bg-color {
  background-color: var(--brand-sapphire-50);
}
.info-block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-block-vertical {
  width: 353px;
}

.info-block-horizontal {
  width: 360px;
  gap: 21px;
}

.title-wrapper {
  display: flex;
  gap: 4px;
}

.title-typography-helper {
  white-space: nowrap;
  @include ellipse;
  // FIXME: --default-main not found
  color: var(--default-main);
}

.description-typography-helper {
  @include ellipse;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--steel-90);
}

.badge-helper {
  width: fit-content;
}
