@mixin icon-size {
  height: calc(var(--32-size) * 3);
  width: calc(var(--32-size) * 3);
}

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--4-radius);
  background: var(--dark-primary-navyblue-50);
}

.image-vertical {
  height: var(--288-size);
}

.image-horizontal {
  width: calc((var(--90-size) * 4));
}

.image-content {
  width: 100%;
  height: 100%;
  border-radius: var(--4-radius);
  object-fit: cover;
}

.icon-wrapper {
  > div {
    @include icon-size;

    > svg {
      @include icon-size;
    }
  }
}

.badges-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  gap: var(--4-space);
  width: -webkit-fill-available;
  flex-wrap: wrap;
  padding: var(--12-space) var(--12-space) 0 var(--12-space);
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: var(--16-space);
}

.info-block-vertical {
  width: calc(var(--4-size) * 95);
}

.info-block-horizontal {
  width: calc((var(--90-size) * 4));
}

.title-wrapper {
  display: flex;
  gap: var(--4-space);
}

.title-typography-helper {
  white-space: nowrap;
  @include ellipse;
  color: var(--default-main);
}

.description-typography-helper {
  @include ellipse;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--text-grey-900);
}

.badge-helper {
  width: fit-content;
}
