.calendar {
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input {
  width: 100%;
}
.icon-xs {
  height: var(--24-size);
  width: var(--24-size);
  svg {
    height: var(--24-size);
    width: var(--24-size);
  }
}
