.calendar {
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  width: 100%;
}

.icon-xs {
  height: 24px;
  width: 24px;

  svg {
    height: 24px;
    width: 24px;
  }
}
