.wrapper {
  background-color: var(--unique-background);
  padding: 30px;
  border-radius: 10px;
  width: 900px;
}

.row {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr repeat(6, 1fr);
  padding-top: 10px;
}
