.row {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  font-family: monospace;
}

.suffix {
  display: flex;
  margin-top: unset;
  margin-bottom: unset;
  align-items: end;
  gap: 8px;
}
