@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PT_Root_Regular.woff2') format('woff2'),
       url('../fonts/PT_Root_Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PT_Root_Light.woff2') format('woff2'),
       url('../fonts/PT_Root_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PT_Root_Medium.woff2') format('woff2'),
       url('../fonts/PT_Root_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/PT_Root_Bold.woff2') format('woff2'),
       url('../fonts/PT_Root_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
