:root {
    /* временные глобальные переменные */
    --border-args-table: #e6e6e6;
    --white: #ffffff;
    --tooltip-placement: calc(100% + 8px);
    --lighter-primary-blue-600: color-mix(in srgb, var(--primary-blue-600) 50%, white 50%);
    --drawer-default-width: 416px;
    --drawer-default-height: 416px;
    --circle-radius: 666px;
    /* размер шрифта xs размера в badge */
    --9-size: 9px;
    /* для padding xs размера в badge */
    --3-space: 3px;
    /* snackbar-indicator */
    --ac-snackbar-blue-bg: #167ffb;
    --ac-snackbar-orange-bg: #f97b0f;
    /* перенесено из old-colour-shadow.css — используется Scrollbar */
    --grey-300: #b3b9bf;
    /* перенесено из main-color-light.css — используется Card/ContentExample */
    --assigned-colors-button-main-text: #ffffff;
    /* перенесено из main-typography.css — используется Breadcrumbs */
    --body1-mono-medium-font-size: 16px;
    --body1-mono-medium-line-height: 22px;
    --body1-mono-medium-font-weight: 500;
}
