$paddingChild: 18px;

.item {
  display: flex;
  align-items: center;
  padding: var(--8-space) var(--24-space) var(--8-space) var(--12-space);
  min-height: var(--40-size);
  box-sizing: border-box;
  color: var(--text-grey-900);

  &:last-child,
  &:first-child {
    height: var(--48-size);
  }

  &:first-child {
    padding-top: $paddingChild;
  }

  &:last-child {
    padding-bottom: $paddingChild;
  }

  &:hover {
    background-color: var(--text-grey-100);
  }
}
