.item {
  display: flex;
  align-items: center;
  padding: 8px 24px 8px 12px;
  min-height: 40px;
  box-sizing: border-box;
  color: var(--steel-90);

  &:first-child {
    margin-top: 8px;
  }

  &:last-child {
    margin-bottom: 8px;
  }
  &:hover {
    background-color: var(--steel-30);
  }
}
