@mixin content-mixin {
  display: grid;
  justify-items: center;
  align-items: center;
}

.wrapper {
  background-color: var(--steel-20);
  padding: 30px;
  border-radius: 10px;
  width: 900px;

  &--small {
    width: 400px;
  }
}

.wrapper-fit-content {
  background-color: var(--steel-20);
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
}

.wrapper-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.table {
  @include content-mixin;
  grid-template-columns: 100px 100px;
  max-width: 100%;
  gap: 40px 5px;
}

.row {
  @include content-mixin;
  grid-template-columns: 1fr repeat(6, 1fr);
  padding-top: 10px;
}

.flex-height {
  min-height: 100px;
  display: flex;
  align-items: center;
}
