@mixin content-mixin {
  display: grid;
  justify-items: center;
  align-items: center;
}

.wrapper {
  background-color: var(--background-paper);
  padding: 30px;
  border-radius: 10px;
  width: 900px;
}

.wrapper-fit-content {
  background-color: var(--background-paper);
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
}

.wrapper-row {
  display: flex;
  gap: 20px;
  align-items: center;
}

.table {
  @include content-mixin;
  grid-template-columns: 100px 100px;
  max-width: 100%;
  gap: 40px 5px;
}

.row {
  @include content-mixin;
  grid-template-columns: 1fr repeat(6, 1fr);
  padding: 10px 0 0 0;
}
