.root {
  border: var(--1-border) solid var(--ac-calendar-shift-stroke);
  border-radius: var(--4-radius);
  display: flex;
  color: var(--default-main);

  div:first-child {
    border-top-left-radius: var(--4-radius);
    border-bottom-left-radius: var(--4-radius);
  }

  div:last-child {
    border-top-right-radius: var(--4-radius);
    border-bottom-right-radius: var(--4-radius);
  }
}

.shift {
  width: var(--30-size);
  height: var(--30-size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;

  &:not(:last-child) {
    border-right: var(--1-border) solid var(--ac-calendar-shift-stroke);
  }

  &:hover {
    background-color: var(--ac-calendar-shift-hover);
  }
}

.selected {
  background-color: var(--ac-calendar-shift-selected);
}

.disabled {
  &:hover {
    background-color: inherit;
  }
}

.selectedDisabled {
  background-color: var(--divider-divider);

  &:hover {
    background-color: var(--divider-divider);
  }
}
