.root {
  border: 1px solid var(--steel-50);
  border-radius: 4px;
  display: flex;
  color: var(--steel-90);

  div:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  div:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.shift {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;

  &:not(:last-child) {
    border-right: 1px solid var(--steel-50);
  }

  &:hover {
    background-color: var(--steel-50);
  }
}

.selected {
  background-color: var(--spectrum-sky-30);
}

.disabled {
  &:hover {
    background-color: inherit;
  }
}

.selectedDisabled {
  background-color: var(--unique-divider);

  &:hover {
    background-color: var(--unique-divider);
  }
}
