@mixin icon-center {
  width: 24px;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 16px;
  gap: 4px;
  border-radius: 4px;
  background: var(--steel-10);
  transition: 0.5s;
  position: relative;
  &:hover {
    background: var(--steel-30);
  }
}

.container-info {
  display: flex;
  min-height: 40px;
  gap: 8px;
  align-items: center;
}

.title {
  flex: 1;
  color: var(--steel-90);
  margin-right: 16px;
  padding: 0 4px;
}

.long-title-wrapper {
  overflow: hidden;
}

.long-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.controllers-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: auto 0 auto auto;
}

.description {
  color: var(--steel-70);
  margin-top: 4px;
  margin-left: 4px;
}

.description-space-helper {
  margin-left: 38px;
}

.icon-wrapper {
  @include icon-center;
}

.icon-wrapper-checked {
  @include icon-center;
  padding: 8px 0;
}

.control-btn {
  button {
    height: 32px;
    min-width: 32px;
  }
}

.add-file-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}

