@mixin icon-center {
  width: var(--24-size);
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: var(--16-space);
  gap: var(--4-size);
  border-radius: var(--4-radius);
  background: var(--steel-20);
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  &:hover {
    background: var(--text-grey-50);
  }
}

.container-info {
  display: flex;
  min-height: var(--40-size);
  gap: var(--8-space);
  align-items: center;
}

.title {
  flex: 1;
  color: var(--text-grey-900);
  margin-right: var(--16-space);
  padding: 0 var(--4-space);
}

.long-title-wrapper {
  overflow: hidden;
}

.long-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.controllers-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--16-space);
  margin: auto 0 auto auto;
}

.description {
  color: var(--text-grey-500);
  margin-top: var(--4-space);
  margin-left: var(--4-space);
}

.description-space-helper {
  margin-left: var(--38-size);
}

.icon-wrapper {
  @include icon-center;
}

.icon-wrapper-checked {
  @include icon-center;
  padding: var(--8-space) 0;
}

.control-btn {
  button {
    height: var(--32-size);
    min-width: var(--32-size);
  }
}

.add-file-btn {
  position: absolute;
  top: var(--16-space);
  right: var(--16-space);
}

