$variants: brand, error, warning, success;
$track-colors: (
  brand: var(--brand-sapphire-20),
  error: var(--spectrum-red-20),
  warning: var(--spectrum-yellow-20),
  success: var(--spectrum-green-20)
);

$touch-bg-colors-on: (
  brand: var(--brand-sapphire-60),
  error: var(--spectrum-red-50),
  warning: var(--spectrum-yellow-50),
  success: var(--spectrum-green-50)
);

$track-bg-colors-off: (
  brand: var(--steel-60),
  error: var(--spectrum-red-40),
  warning: var(--spectrum-yellow-40),
  success: var(--spectrum-green-40)
);

@each $variant in $variants {
  .track-active-#{"" + $variant} {
    background-color: map-get($track-colors, $variant);
  }
  .track-inactive-#{"" + $variant} {
    background-color: map-get($track-bg-colors-off, $variant);
  }
  .touch-active-#{"" + $variant} {
    transform: translateX(17px);
    background-color: map-get($touch-bg-colors-on, $variant);
  }
  .touch-inactive-#{"" + $variant} {
    background-color: var(--steel-10);
    border-width: 1px;
    border-style: solid;
    height: 18px;
    width: 18px;
    transform: translateX(0);
    border-color: map-get($track-bg-colors-off, $variant);
  }
}
.switch {
  display: flex;
  gap: 5px;
  position: relative;
  align-items: center;

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.checkbox {
  display: none;
}

.controller {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 4px 5px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
  cursor: pointer;
}

.track {
  height: 14px;
  width: 34px;
  border-radius: 7px;
  z-index: 1;
}

.touch {
  position: absolute;
  top: 5px;
  height: 20px;
  width: 20px;
  border-radius: var(--circle-radius);
  transition: background 0.3s, transform 0.3s;
  z-index: 1;
}

.focus {
  opacity: 0;
  position: absolute;
  top: -1px;
  height: 32px;
  width: 32px;
  border-radius: var(--circle-radius);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 0;

  &.focus-active {
    transform: translateX(15px);
    background: var(--steel-90);
    left: 1px;
  }

  &.focus-inactive {
    transform: translateX(0);
    background: var(--steel-90);
    left: -1px;
  }

  .controller:hover & {
    opacity: 0.08;
  }
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--steel-90);

  &-disabled {
    color: var(--steel-90);
    opacity: 0.5;
  }
}

.icon {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
