$transition-time: 0.3s;
$--7-space: 7px;
$--32-size: 32px;
$track-width: 34px;

.wrapper {
  display: flex;
  gap: 5px;
  position: relative;
}

.checkbox {
  display: none;
}

.switch-input {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  width: 0;
  height: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.root {
  height: var(--30-size);
  display: flex;
  align-items: center;
  padding: var(--4-space) calc(var(--2-space) * 3) var(--4-space) var(--4-space);
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    .focus {
      opacity: var(--8-opacity);
      position: absolute;
      height: $--32-size;
      width: $--32-size;
      border-radius: var(--circle-radius);
    }

    .focus-active {
      left: calc(var(--12-space) + 3px);
      background: var(--ac-switch-on-focused-focus);
    }

    .focus-inactive {
      right: calc(var(--12-space) + 3px);
      opacity: var(--100-opacity);
      background: var(--ac-switch-off-focused-focus);
    }
  }
}

.disabled {
  pointer-events: none;
}

.track {
  height: calc($--7-space * 2);
  width: $track-width;
  border-radius: $--7-space;
  z-index: 1;
}

.track-active {
  background-color: var(--ac-switch-on-normal-track);
}
.track-active-disabled {
  background-color: var(--ac-switch-on-disabled-track);
}
.track-inactive {
  background-color: var(--ac-switch-off-normal-track);
}
.track-inactive-disabled {
  background-color: var(--ac-switch-off-disabled-track);
}

.touch {
  z-index: 1;
  top: 5px;
  position: absolute;
  height: var(--20-size);
  width: var(--20-size);
  border-radius: var(--circle-radius);
  transition: background $transition-time;
}

.focus-wrapper {
  position: relative;
  z-index: -2;
}

.inactive {
  background-color: var(--ac-switch-off-normal-thumb);
  height: calc(var(--20-size) - 2px);
  width: calc(var(--20-size) - 2px);
  transform: translateX(-1px);
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: var(--circle-radius);
  border: var(--1-border) solid var(--ac-switch-off-normal-stroke);
}

.touch-disabled {
  background-color: var(--ac-switch-off-disabled-thumb);
}

.active {
  background-color: var(--ac-switch-on-normal-thumb);
  transform: translateX(17px);
  transition: right 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-grey-900);
}

.label-disabled {
  color: var(--text-grey-500);
}

.icon-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-style {
  > span {
    border: 1px solid var(--success-green-600);
    border-radius: var(--8-radius);
    padding: var(--8-space) var(--12-space);
    > span {
      background-color: var(--success-green-200);

      > span {
        background-color: var(--success-green-600);

        > div:nth-child(2) {
          &:hover {
            background: var(--success-green-500);
          }
        }
      }
    }
  }
}
