$transition-time: 0.3s;
$--7-space: 7px;
$--32-size: 32px;

.wrapper {
  display: flex;
  gap: 5px;
}

.root {
  width: var(--60-size);
  height: var(--38-size);
  display: flex;
  align-items: center;
  padding: 0 var(--12-space);
  z-index: 0;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    .focus {
      opacity: var(--8-opacity);
      position: absolute;
      height: $--32-size;
      width: $--32-size;
      border-radius: var(--circle-radius);
    }

    .focus-active {
      right: 6px;
      background: var(--ac-switch-on-focused-focus);
    }

    .focus-inactive {
      top: 4px;
      left: 6px;
      opacity: var(--100-opacity);
      background: var(--ac-switch-off-focused-focus);
    }
  }
}

.disabled {
  pointer-events: none;
}

.track {
  transition: all $transition-time ease-in-out;
  height: calc($--7-space * 2);
  width: 34px;
  border-radius: $--7-space;
  z-index: 1;
}

.track-active {
  background-color: var(--ac-switch-on-normal-track);
}

.track-active-disabled {
  background-color: var(--ac-switch-on-disabled-track);
}

.track-inactive {
  background-color: var(--ac-switch-off-normal-track);
}

.track-inactive-disabled {
  background-color: var(--ac-switch-off-disabled-track);
}

.touch {
  z-index: 1;
  top: 9px;
  position: absolute;
  height: var(--20-size);
  width: var(--20-size);
  border-radius: var(--circle-radius);
  transition: 0.3;
}

.focus-wrapper {
  position: relative;
  z-index: -2;
}

@keyframes slide-right {
  0% {
    left: unset;
    right: var(--26-size);
  }

  100% {
    right: var(--12-size);
    left: unset;
  }
}

@keyframes slide-left {
  0% {
    left: var(--26-size);
    right: unset;
  }

  100% {
    left: var(--12-size);
    right: unset;
  }
}

.inactive {
  background-color: var(--ac-switch-off-normal-thumb);
  left: var(--12-size);
  right: unset;
  animation-name: slide-left;
  animation-duration: $transition-time;
  border-radius: var(--circle-radius);
  border: var(--1-border) solid var(--ac-switch-off-normal-stroke);
}

.touch-disabled {
  background-color: var(--ac-switch-off-disabled-thumb);
}

.active {
  background-color: var(--ac-switch-on-normal-thumb);
  right: var(--12-size);
  left: unset;
  animation-name: slide-right;
  animation-duration: $transition-time;
}


.label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-grey-900);
}

.label-disabled {
  color: var(--text-grey-500)
}

.iconWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-style {
  > span {
    border: 1px solid var(--success-green-600);
    border-radius: var(--8-radius);
    padding: var(--8-space) var(--12-space);
    > span {
      background-color: var(--success-green-200);

      > span {
        background-color: var(--success-green-600);

        > div:nth-child(2) {
          &:hover {
            background: var(--success-green-500);
          }
        }
      }
    }
  }
}
