:root {
  --icon-search: var(--brand-sapphire-60);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cardStyle {
  background-color: var(--steel-20);
}

@mixin iconStyle {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.wrapper-border-radius {
  border-radius: 10px;
}

.wrapper-info {
  border-radius: 4px;
  border: 1px solid var(--unique-divider);
  overflow: hidden;
}

.icon-block {
  position: relative;
  flex-wrap: wrap;
  overflow: auto;
  flex-direction: column;
  padding: 30px 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.wrapper {
  background-color: var(--unique-background);
  margin: 0;
  padding: 24px;
  width: 98%;
}

.sized {
  @include flexCenter;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 24px;
  width: 96% !important;
  margin: 0 1em;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 12px;
}

.noResults {
  @include flexCenter;
}

.controls {
  @include flexCenter;
  width: 98%;
  margin-bottom: 24px;
}

.input {
  width: calc(100% - 32px);
  z-index: 100;
}

.colorControlTitle {
  white-space: nowrap;
  color: var(--steel-90);
}

.colorControl {
  @include flexCenter;
  gap: 12px;
  margin-left: 24px;
}

.colorInput {
  cursor: pointer;
}

.card {
  margin: 6px 0;
  width: 320px;
  height: fit-content;
  @include cardStyle;
}

.cardHeader {
  @include flexCenter;
  gap: 24px;
  margin-bottom: 20px;
  span {
    height: 22px;
  }
}

.icons {
  @include flexCenter;
  gap: 16px;
}

.icon {
  @include iconStyle;
  background-color: var(--unique-background);
  color: var(--icon-search, --brand-sapphire-60);
}

.strokeIcon path {
  stroke: var(--icon-search, --brand-sapphire-60, #1952b6);
}

.fillAndStrokeIcon path {
  fill: var(--icon-search, --brand-sapphire-60, #1952b6);
  stroke: var(--icon-search, --brand-sapphire-60, #1952b6);
}

.iconFill path {
  fill: var(--icon-search, --brand-sapphire-60, #1952b6);
}
