@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin cardStyle {
  box-shadow: 0 4px 6px var(--grey-500);
  background-color: var(--background-paper);
}

@mixin iconStyle {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: var(--background-paper);
  margin: 0;
  padding: 24px;
  //width: 99%;
  border-radius: 10px;
}

.sized {
  @include flexCenter;
  width: 80px;
  height: 80px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  grid-gap: 12px;
}

.noResults {
  @include flexCenter;
}

.controls {
  @include flexCenter;
  width: 100%;
  margin-bottom: 24px;
}

.input {
  width: calc(100% - 32px);
  z-index: 100;
}

.colorControlTitle {
  white-space: nowrap;
  color: var(--text-grey-900);
}

.colorControl {
  @include flexCenter;
  gap: 12px;
  margin-left: 24px;
}

.colorInput {
  cursor: pointer;
}

.card {
  margin: 6px 0;
  width: 320px;
  @include cardStyle;
}

.cardHeader {
  @include flexCenter;
  gap: 24px;
  margin-bottom: 20px;
}

.icons {
  @include flexCenter;
  gap: 16px;
}

.icon {
  @include iconStyle;
  background-color: var(--background-paper);
}

.iconFill path {
  fill: var(--icon-color, #167ffb);
}

.strokeIcon path {
  stroke: var(--icon-color, #167ffb);
}

.fillAndStrokeIcon path {
  fill: var(--icon-color, #167ffb);
  stroke: var(--icon-color, #167ffb);
}
