.wrapper {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
}

.table {
  display: grid;
  max-width: 100%;
  gap: 40px 5px;
}

.row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 4fr repeat(9, 1fr);
  align-items: center;
}
