.pseudo {
  height: 40px;
  position: relative;
  display: flex;
  align-items: flex-end;

  &.s {
    height: 32px;
  }
  &.xs {
    height: 28px;
  }
}

.label {
  position: absolute;
  color: var(--steel-70);
  top: -3px;

  .s & {
    top: -2px;
  }
  .xs & {
    top: -3px;
  }

  &.error {
    color: var(--spectrum-red-60);
  }

  &.warning {
    color: var(--spectrum-yellow-60);
  }

  &.success {
    color: var(--spectrum-green-60);
  }
}

.suffix {
  display: flex;
  gap: 8px;

  [data-ui-pseudo-input-children] {
    position: relative;
    top: -2px;
  }

  .s & [data-ui-pseudo-input-children] {
    top: 2px;
  }

  .xs & [data-ui-pseudo-input-children] {
    top: 2px;
  }
}
