.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 8px 8px 12px;
  cursor: pointer;
  background: var(--steel-10);
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--steel-30);
  }

  &-active,
  &-active:hover {
    background: var(--brand-sapphire-10);
  }
}

.label {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
