.item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: var(--steel-30);
  }

  &.disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}
