.wrapper {
  background-color: var(--unique-background);
  padding: 30px;
  border-radius: 10px;
  width: 200px;
}

.helper-text-wrapper {
  display: flex;
  gap: 8px;
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
