.wrapper {
  background-color: var(--background-paper);
  padding: 30px;
  border-radius: 10px;
  width: 900px;
}

.helper-text-wrapper {
  display: flex;
  gap: var(--8-space);
}

.column-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--12-space);
}
