$bgPositionWidth: 200px;
$margin: 10px;

@keyframes animation-wave-skeleton-loader {
  from {
    background-position: (-$bgPositionWidth) 0;
  }

  to {
    background-position: calc($bgPositionWidth + 100%) 0;
  }
}

@keyframes animation-pulse-skeleton-loader {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

.loading-wrapper {
  display: inline-block;
  line-height: 1;
  margin-bottom: $margin;
  background-color: var(--steel-20);
  background-size: $bgPositionWidth 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  cursor: wait;
  &_wave {
    background-image: linear-gradient(90deg, var(--steel-20), var(--steel-40), var(--steel-20));
    animation: animation-wave-skeleton-loader 1.2s ease-in-out infinite;
  }
  &_pulse {
    background-color: var(--steel-20, rgba(var(--steel-40, undefined) / 0.1));
    animation: animation-pulse-skeleton-loader 2s ease-in-out 0.5s infinite;
  }
}
