.wrapper {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 900px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  padding: 15px;
}
