@keyframes animation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  display: inline-block;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: var(--steel-40);
  transform: rotate(-90deg);
  svg {
    display: block;
    circle {
      stroke: currentColor;
      transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
  }
}

@mixin animationBlock {
  display: inline-block;
  animation: 1.2s linear 0s infinite normal none running animation;
}

.icon {
  aspect-ratio: 1 / 1;
  min-height: 16px;
  @include animationBlock;
}

.loader {
  @include animationBlock;
  color: var(--brand-sapphire-60);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    circle {
      stroke-linecap: round;
      stroke: currentColor;
    }
  }
}

.percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--steel-90);
}
