@mixin typography-properties($args...) {
  $font-family: nth($args, 1);
  $font-size: nth($args, 2);
  $font-weight: nth($args, 3);
  $line-height: nth($args, 4);
  $letter-spacing: nth($args, 5);
  $text-decoration: nth($args, 6);
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-decoration: $text-decoration;
}

.typography {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-variant-numeric: tabular-nums lining-nums;
  color: inherit;
}

.typography--variant-Heading1 {
  @include typography-properties(
      var(--heading1-48-fontFamily),
      var(--heading1-48-fontSize),
      var(--heading1-48-fontWeight),
      var(--heading1-48-lineHeight),
      var(--heading1-48-letterSpacing),
      var(--heading1-48-textDecoration)
  );
}

.typography--variant-Heading2 {
  @include typography-properties(
      var(--heading2-32-fontFamily),
      var(--heading2-32-fontSize),
      var(--heading2-32-fontWeight),
      var(--heading2-32-lineHeight),
      var(--heading2-32-letterSpacing),
      var(--heading2-32-textDecoration)
  );
}

.typography--variant-Heading3 {
  @include typography-properties(
      var(--heading3-24-fontFamily),
      var(--heading3-24-fontSize),
      var(--heading3-24-fontWeight),
      var(--heading3-24-lineHeight),
      var(--heading3-24-letterSpacing),
      var(--heading3-24-textDecoration)
  );
}

.typography--variant-Heading4 {
  @include typography-properties(
      var(--heading4-20-fontFamily),
      var(--heading4-20-fontSize),
      var(--heading4-20-fontWeight),
      var(--heading4-20-lineHeight),
      var(--heading4-20-letterSpacing),
      var(--heading4-20-textDecoration)
  );
}

.typography--variant-Subheading1 {
  @include typography-properties(
      var(--subheading1-32-fontFamily),
      var(--subheading1-32-fontSize),
      var(--subheading1-32-fontWeight),
      var(--subheading1-32-lineHeight),
      var(--subheading1-32-letterSpacing),
      var(--subheading1-32-textDecoration)
  );
}

.typography--variant-Subheading2 {
  @include typography-properties(
      var(--subheading2-24-fontFamily),
      var(--subheading2-24-fontSize),
      var(--subheading2-24-fontWeight),
      var(--subheading2-24-lineHeight),
      var(--subheading2-24-letterSpacing),
      var(--subheading2-24-textDecoration)
  );
}

.typography--variant-Subheading2-Medium {
  @include typography-properties(
      var(--subheading2-medium-24-fontFamily),
      var(--subheading2-medium-24-fontSize),
      var(--subheading2-medium-24-fontWeight),
      var(--subheading2-medium-24-lineHeight),
      var(--subheading2-medium-24-letterSpacing),
      var(--subheading2-medium-24-textDecoration)
  );
}

.typography--variant-Subheading3 {
  @include typography-properties(
      var(--subheading3-20-fontFamily),
      var(--subheading3-20-fontSize),
      var(--subheading3-20-fontWeight),
      var(--subheading3-20-lineHeight),
      var(--subheading3-20-letterSpacing),
      var(--subheading3-20-textDecoration)
  );
}

.typography--variant-Subheading3-Medium {
  @include typography-properties(
      var(--subheading3-medium-20-fontFamily),
      var(--subheading3-medium-20-fontSize),
      var(--subheading3-medium-20-fontWeight),
      var(--subheading3-medium-20-lineHeight),
      var(--subheading3-medium-20-letterSpacing),
      var(--subheading3-medium-20-textDecoration)
  );
}

.typography--variant-Body {
  @include typography-properties(
      var(--body-18-fontFamily),
      var(--body-18-fontSize),
      var(--body-18-fontWeight),
      var(--body-18-lineHeight),
      var(--body-18-letterSpacing),
      var(--body-18-textDecoration)
  );
}

.typography--variant-Body-Medium {
  @include typography-properties(
      var(--body-medium-18-fontFamily),
      var(--body-medium-18-fontSize),
      var(--body-medium-18-fontWeight),
      var(--body-medium-18-lineHeight),
      var(--body-medium-18-letterSpacing),
      var(--body-medium-18-textDecoration)
  );
}

.typography--variant-Body-Bold {
  @include typography-properties(
      var(--body-bold-18-fontFamily),
      var(--body-bold-18-fontSize),
      var(--body-bold-18-fontWeight),
      var(--body-bold-18-lineHeight),
      var(--body-bold-18-letterSpacing),
      var(--body-bold-18-textDecoration)
  );
}

.typography--variant-Body1 {
  @include typography-properties(
      var(--body1-16-fontFamily),
      var(--body1-16-fontSize),
      var(--body1-16-fontWeight),
      var(--body1-16-lineHeight),
      var(--body1-16-letterSpacing),
      var(--body1-16-textDecoration)
  );
}

.typography--variant-Body1-Medium {
  @include typography-properties(
      var(--body1-medium-16-fontFamily),
      var(--body1-medium-16-fontSize),
      var(--body1-medium-16-fontWeight),
      var(--body1-medium-16-lineHeight),
      var(--body1-medium-16-letterSpacing),
      var(--body1-medium-16-textDecoration)
  );
}

.typography--variant-Body1Table-Medium {
  @include typography-properties(
      var(--body1-table-medium-16-fontFamily),
      var(--body1-table-medium-16-fontSize),
      var(--body1-table-medium-16-fontWeight),
      var(--body1-table-medium-16-lineHeight),
      var(--body1-table-medium-16-letterSpacing),
      var(--body1-table-medium-16-textDecoration)
  );
}

.typography--variant-Body1-Bold {
  @include typography-properties(
      var(--body1-bold-16-fontFamily),
      var(--body1-bold-16-fontSize),
      var(--body1-bold-16-fontWeight),
      var(--body1-bold-16-lineHeight),
      var(--body1-bold-16-letterSpacing),
      var(--body1-bold-16-textDecoration)
  );
}

.typography--variant-Body1Mono-Medium {
  @include typography-properties(
      var(--body1-mono-medium-16-fontFamily),
      var(--body1-mono-medium-16-fontSize),
      var(--body1-mono-medium-16-fontWeight),
      var(--body1-mono-medium-16-lineHeight),
      var(--body1-mono-medium-16-letterSpacing),
      var(--body1-mono-medium-16-textDecoration)
  );
}

.typography--variant-Body1Mono-Bold {
  @include typography-properties(
      var(--body1-mono-bold-16-fontFamily),
      var(--body1-mono-bold-16-fontSize),
      var(--body1-mono-bold-16-fontWeight),
      var(--body1-mono-bold-16-lineHeight),
      var(--body1-mono-bold-16-letterSpacing),
      var(--body1-mono-bold-16-textDecoration)
  );
}

.typography--variant-Body2 {
  @include typography-properties(
      var(--body2-14-fontFamily),
      var(--body2-14-fontSize),
      var(--body2-14-fontWeight),
      var(--body2-14-lineHeight),
      var(--body2-14-letterSpacing),
      var(--body2-14-textDecoration)
  );
}

.typography--variant-Body2-Medium {
  @include typography-properties(
      var(--body2-medium-14-fontFamily),
      var(--body2-medium-14-fontSize),
      var(--body2-medium-14-fontWeight),
      var(--body2-medium-14-lineHeight),
      var(--body2-medium-14-letterSpacing),
      var(--body2-medium-14-textDecoration)
  );
}

.typography--variant-Body2-Bold {
  @include typography-properties(
      var(--body2-bold-14-fontFamily),
      var(--body2-bold-14-fontSize),
      var(--body2-bold-14-fontWeight),
      var(--body2-bold-14-lineHeight),
      var(--body2-bold-14-letterSpacing),
      var(--body2-bold-14-textDecoration)
  );
}

.typography--variant-Body2Mono-Medium {
  @include typography-properties(
      var(--body2-mono-medium-14-fontFamily),
      var(--body2-mono-medium-14-fontSize),
      var(--body2-mono-medium-14-fontWeight),
      var(--body2-mono-medium-14-lineHeight),
      var(--body2-mono-medium-14-letterSpacing),
      var(--body2-mono-medium-14-textDecoration)
  );
}

.typography--variant-Body2Mono-Bold {
  @include typography-properties(
      var(--body2-mono-bold-14-fontFamily),
      var(--body2-mono-bold-14-fontSize),
      var(--body2-mono-bold-14-fontWeight),
      var(--body2-mono-bold-14-lineHeight),
      var(--body2-mono-bold-14-letterSpacing),
      var(--body2-mono-bold-14-textDecoration)
  );
}

.typography--variant-Caption {
  @include typography-properties(
      var(--caption-12-fontFamily),
      var(--caption-12-fontSize),
      var(--caption-12-fontWeight),
      var(--caption-12-lineHeight),
      var(--caption-12-letterSpacing),
      var(--caption-12-textDecoration)
  );
}

.typography--variant-Caption-Medium {
  @include typography-properties(
      var(--caption-medium-12-fontFamily),
      var(--caption-medium-12-fontSize),
      var(--caption-medium-12-fontWeight),
      var(--caption-medium-12-lineHeight),
      var(--caption-medium-12-letterSpacing),
      var(--caption-medium-12-textDecoration)
  );
}

.typography--variant-Caption-Bold {
  @include typography-properties(
      var(--caption-bold-12-fontFamily),
      var(--caption-bold-12-fontSize),
      var(--caption-bold-12-fontWeight),
      var(--caption-bold-12-lineHeight),
      var(--caption-bold-12-letterSpacing),
      var(--caption-bold-12-textDecoration)
  );
}

.typography--variant-CaptionMono {
  @include typography-properties(
      var(--caption-mono-12-fontFamily),
      var(--caption-mono-12-fontSize),
      var(--caption-mono-12-fontWeight),
      var(--caption-mono-12-lineHeight),
      var(--caption-mono-12-letterSpacing),
      var(--caption-mono-12-textDecoration)
  );
}

.typography--variant-CaptionMono-Medium {
  @include typography-properties(
      var(--caption-mono-medium-12-fontFamily),
      var(--caption-mono-medium-12-fontSize),
      var(--caption-mono-medium-12-fontWeight),
      var(--caption-mono-medium-12-lineHeight),
      var(--caption-mono-medium-12-letterSpacing),
      var(--caption-mono-medium-12-textDecoration)
  );
}

.typography--variant-CaptionMono-Bold {
  @include typography-properties(
      var(--caption-mono-bold-12-fontFamily),
      var(--caption-mono-bold-12-fontSize),
      var(--caption-mono-bold-12-fontWeight),
      var(--caption-mono-bold-12-lineHeight),
      var(--caption-mono-bold-12-letterSpacing),
      var(--caption-mono-bold-12-textDecoration)
  );
}

.typography--variant-Additional-Bold {
  @include typography-properties(
      var(--additional-bold-9-fontFamily),
      var(--additional-bold-9-fontSize),
      var(--additional-bold-9-fontWeight),
      var(--additional-bold-9-lineHeight),
      var(--additional-bold-9-letterSpacing),
      var(--additional-bold-9-textDecoration)
  );
}
