.date-wrapper {
  color: var(--text-grey-600);
  height: var(--body1-medium-line-height);
  font-size: var(--body1-medium-font-size);
  font-weight: var(--body1-medium-font-weight);
  margin-right: var(--8-space);
}

.time-wrapper {
  color: var(--text-grey-900);
  font-size: var(--heading4-font-size);
  font-weight: var(--heading4-font-weight);
}
