@mixin common-wrapper-styles {
  display: flex;
  height: 24px;
  align-items: center;
  gap: 8px;
}

@mixin set-height-and-line-height($size) {
  height: $size;
  line-height: $size;
}

.select {
  position: relative;
  width: 100%;

  &__input {
    cursor: pointer;
  }

  &__arrow {
    height: 24px !important;
    padding: 0 4px 0 0 !important;

    &:hover {
      background-color: var(--ac-input-default-bg) !important;
    }

    &.disabled {
      background: var(--ac-input-disabled-bg);

      path {
        fill: var(--ac-icon-grey);
      }

      &:hover {
        background: var(--ac-input-disabled-bg) !important;
      }
    }
  }

  .item {
    position: relative;
    color: var(--ac-select-item-default-label);

    &:hover {
      color: var(--ac-select-item-hover-label);
      background-color: var(--ac-select-item-hover-bg);
    }

    &.disabled {
      opacity: var(--45-opacity);
      div {
        cursor: default;
        pointer-events: none;
      }
    }

    &.multiline:last-child,
    &.multiline:first-child {
      height: auto;
    }

    &.selected {
      background: var(--ac-select-item-selected-bg);
      color: var(--ac-select-item-selected-label);

      &:hover {
        background-color: var(--ac-select-item-activehover-bg);
        color: var(--ac-select-item-activehover-label);
      }
    }
  }

  .checkbox {
    display: flex;
    justify-content: center;
    label:first-child {
      padding: unset;
    }
  }

  .label {
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &__multiline {
      white-space: unset;
      overflow: unset;
      text-overflow: unset;
    }

    &__disabled {

      &:hover {
        cursor: default;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    height: 24px;
    width: 100%;

    &__multiline {
      height: auto;
    }
  }
}

.left-wrapper,
.right-wrapper,
.inconspicuous-left-wrapper,
.inconspicuous-right-wrapper {
  @include common-wrapper-styles;
}

.left-wrapper {
  margin: 0 8px auto 0;
}

.inconspicuous-right-wrapper {
  margin-left: auto;
}

.right-wrapper {
  margin: 0 0 auto auto;
}

.inconspicuous {
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
  color: var(--text-grey-400);
  path {
    fill: var(--text-grey-400);
  }

  &:hover {
    color: var(--text-grey-500);
    path {
      fill: var(--text-grey-500)
    }
  }
}

.inconspicuous-disabled {
  opacity: var(--45-opacity);
  cursor: default;
  pointer-events: none;
}

.inconspicuous-m {
  @include set-height-and-line-height(var(--40-size));
}

.inconspicuous-s {
  @include set-height-and-line-height(var(--32-size));
}

.inconspicuous-xs {
  @include set-height-and-line-height(var(--28-size));
}

.inconspicuous-item {
  display: flex;
  gap: var(--4-space);
  align-items: center;
}

.inconspicuous-item-icon {
  display: flex;
  align-items: center;
}

.multiple-label {
  width: 80%;
}

.icon-wrapper {
  height: 24px;
  width: 24px;
  svg {
    color: var(--ac-select-item-default-label);
  }
}

.icon-selected {
  svg {
    color: var(--ac-icon-blue);
  }
}

.badge-amount-wrapper {
  position: absolute;
  top: calc(var(--4-space) * -1);
  right: calc(var(--4-space) * -1);
}

.item-with-sub-label {
  height: var(--60-size)!important;
}

.sub-label-wrapper {
  cursor: pointer;
  color: var(--text-grey-600);
}

.sub-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-container {
  width: -webkit-fill-available;
}

.text-container-item {
  width: 90%;
}

.text-container-item-full-width {
  width: 100%;
}

.nested-icon {
  display: flex;
  cursor: pointer;
}

// TODO: add nested list of options
// Link: https://www.figma.com/file/3dTe0kYNFqQO3VnjJ10jyv/DS2.0-Input?type=design&node-id=2559-8688&mode=design&t=Bt67vU7ZD9gbIntW-0
// .nested-list {
//   position:absolute;
//   background-color:green;
//   height: 200px;
//   border:2px solid black;
// }

.show-only-icon {
  width: 28px;
  & > div:first-child {
    width: 28px;
    overflow: hidden;
  }
}

.inconspicuous-active {
  color: var(--primary-blue-600);
  path {
    fill: var(--ac-icon-blue)
  }
}

.not-searchable {
  input {
    cursor: pointer;
  }
}

.toggle-list-btn {
  height: 24px;
  width: 24px;
  transition: 0.3s ease-out;
}

.toggle-list-btn-open {
  transform: rotate(180deg);
}

.input-helper {
  input {
    cursor: pointer;
    text-overflow: ellipsis;
  }
}

.child-wrapper {
  width: min-content;
}

.wrapper {
  z-index: 1100;
}
