.select {
  position: relative;

  &__input {
    cursor: pointer;
  }

  &__arrow {
    height: 24px !important;
    padding: 0 4px 0 0 !important;

    &:hover {
      background-color: var(--ac-input-default-bg) !important;
    }

    &.disabled {
      background: var(--ac-input-disabled-bg);

      path {
        fill: var(--ac-icon-grey);
      }

      &:hover {
        background: var(--ac-input-disabled-bg) !important;
      }
    }
  }

  .item {
    color: var(--ac-select-item-default-label);

    &:hover {
      color: var(--ac-select-item-hover-label);
      background-color: var(--ac-select-item-hover-bg);
    }

    &.disabled {
      opacity: var(--45-opacity);
      &:hover {
        cursor: default;
      }
    }

    &.selected {
      background: var(--ac-select-item-selected-bg);
      color: var(--ac-select-item-selected-label);

      &:hover {
        background-color: var(--ac-select-item-activehover-bg);
        color: var(--ac-select-item-activehover-label);
      }
    }
  }

  .checkbox {
    margin-right: 8px;
  }

  .label {
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &__disabled {

      &:hover {
        cursor: default;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    width: 100%;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.not-searchable {
  input {
    cursor: pointer;
  }
}
