.wrapper {
  display: grid;
  background-color: var(--unique-background);
  padding: 30px;
  border-radius: 10px;
  align-items: center;

  &-height {
    min-height: 400px;
  }
}

.placements {
  display: grid;
  grid-template-areas: "top top" "top-left top-right" "left-start right-start" "left right" "left-end right-end" "bottom-left bottom-right" "bottom bottom";
  gap: 100px;
  justify-items: center;
  padding: 24px 32px;
}

.behaviors {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
  justify-items: center;
}

.manual-wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 60px;
  justify-items: center;
}

.custom {
  display: grid;
  gap: 8px 0;

  &-item {
    display: inline-grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0 12px;

    & p {
      margin: 0;
    }
  }
}

.tooltip {
  &-top {
    grid-area: top;
  }

  &-top-right {
    grid-area: top right;
  }

  &-top-left {
    grid-area: top left;
  }

  &-bottom {
    grid-area: bottom;
  }

  &-bottom-left {
    grid-area: bottom left;
  }

  &-bottom-right {
    grid-area: bottom right;
  }

  &-left {
    grid-area: left;
  }

  &-right {
    grid-area: right;
  }

  &-left-start {
    grid-area: left start;
  }

  &-right-start {
    grid-area: right start;
  }

  &-left-end {
    grid-area: left end;
  }

  &-right-end {
    grid-area: right end;
  }
}

.traffic-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.traffic-item {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 8px;
}

.card-helper {
  width: 340px;
  background: transparent;
}

.card-wrapper {
  display: flex;
  gap: 8px;
}

.text-card {
  width: 232px;
  margin: 4px 0;
}

.line-wrapper {
  width: 24px;
  display: flex;
  align-items: start;
  margin-top: 8px;
}

.line {
  width: 6px;
  height: 24px;
  border-radius: 2px;
  padding: 0 auto;
}

.line-success {
  // FIXME: --ac-badge-solid-success-fill not found
  background-color: var(--ac-badge-solid-success-fill);
}

.line-warning {
  // FIXME: --ac-badge-solid-warning-fill not found
  background-color: var(--ac-badge-solid-warning-fill);
}

.line-primary {
  // FIXME: --ac-badge-solid-primary-fill not found
  background-color: var(--ac-badge-solid-primary-fill);
}

.line-error {
  // FIXME: --ac-badge-solid-error-fill not found
  background-color: var(--ac-badge-solid-error-fill);
}

.popup {
  background-color: var(--spectrum-red-10) !important;
  color: var(--spectrum-red-60) !important;
}
