.wrapper {
  display: grid;
  background-color: var(--background-paper);
  padding: 30px;
  border-radius: 10px;
  align-items: center;

  &-height {
    min-height: 400px;
  }
}

.placements {
  display: grid;
  grid-template-areas: "top top" "top-left top-right" "left-start right-start" "left right" "left-end right-end" "bottom-left bottom-right" "bottom bottom";
  gap: 100px;
  justify-items: center;
  padding: var(--24-space) var(--32-space);
}

.behaviors {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
  justify-items: center;
}

.custom {
  display: grid;
  gap: 8px 0;

  &-item {
    display: inline-grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 0 12px;

    & p {
      margin: 0;
    }
  }
}

.tooltip {
  &-top {
    grid-area: top;
  }

  &-top-right {
    grid-area: top right;
  }

  &-top-left {
    grid-area: top left;
  }

  &-bottom {
    grid-area: bottom;
  }

  &-bottom-left {
    grid-area: bottom left;
  }

  &-bottom-right {
    grid-area: bottom right;
  }

  &-left {
    grid-area: left;
  }

  &-right {
    grid-area: right;
  }

  &-left-start {
    grid-area: left start;
  }

  &-right-start {
    grid-area: right  start;
  }

  &-left-end {
    grid-area: left end;
  }

  &-right-end {
    grid-area: right end;
  }
}

.traffic-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--12-space);
}

.traffic-item {
  display: flex;
  align-items: center;
  height: var(--24-size);
  gap: var(--8-space)
}

.card-helper {
  width: 340px;
  background: transparent;
}

.card-wrapper {
  display: flex;
  gap: var(--8-space);
}

.text-card {
  width: 232px;
  color: var(--ac-toggletip-text);
  margin: var(--4-space) 0;
}

.line-wrapper {
  width: var(--24-size);
  display: flex;
  align-items: start;
  margin-top: var(--8-space);
}

.line {
  width: var(--6-size);
  height: var(--24-size);
  border-radius: var(--2-border);
  padding: 0 auto;
}

.line-success {
  background-color: var(--ac-badge-solid-success-fill);
}

.line-warning {
  background-color: var(--ac-badge-solid-warning-fill);
}

.line-primary {
  background-color: var(--ac-badge-solid-primary-fill);
}

.line-error {
  background-color: var(--ac-badge-solid-error-fill);
}
