.wrapper {
  font-size: 18px;
  padding: 30px;
  border-radius: 10px;
  background-color: var(--unique-background);
  width: 900px;
}

.d-flex {
  display: flex;
}

.child-checkboxes {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
