.wrapper {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  background-color: var(--background-paper);
  width: 900px;
}

.d-flex {
  display: flex;
}

.child-checkboxes {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
