.wrapper {
  display: flex;
  justify-content: space-between;

  &-dark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 16px;

    :root[data-theme="dark-theme"] & {
      background-color: #edeeef;
    }

    :root:not([data-theme="dark-theme"]) & {
      background-color: #3c4854;
    }
  }

  &-light {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background-color: var(--unique-background);
  }
}

.icon-light path {
  fill: var(--brand-sapphire-60);
}

.icon-dark path {
  :root[data-theme="dark-theme"] & {
    fill: #1952b6;
  }

  :root:not([data-theme="dark-theme"]) & {
    fill: #619eff;
  }
}

.text-dark {
  :root[data-theme="dark-theme"] & {
    color: #001729;
  }

  :root:not([data-theme="dark-theme"]) & {
    color: #f2f3f4;
  }
}

.mgtop {
  margin-top: 0;
}

.picture-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--steel-40);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.picture {
  width: 100%;
  height: 100%;
  margin: 16px;
  overflow: auto;
}
