.wrapper {
  display: flex;
  border-radius: 4px;
  background: var(--unique-background);
  box-sizing: border-box;
}

.wrapper-vertical {
  padding: 32px 16px;
  flex-direction: column;
}

.wrapper-horizontal {
  padding: 16px 32px;
  flex-direction: row;
}

.card-vertical {
  gap: 24px;
  width: 385px;
}

.card-horizontal {
  gap: 24px;
}

.indicator-vertical {
  border-top-style: solid;
}

.indicator-horizontal {
  border-left-style: solid;
}

.indicator-s {
  border-width: 2px;
}

.indicator-m {
  border-width: 4px;
}

.indicator-l {
  border-width: 8px;
}

.indicator-default {
  border-color: var(--unique-white);
}

.indicator-success {
  border-color: var(--spectrum-green-60);
}

.indicator-error {
  border-color: var(--spectrum-red-60);
}

.indicator-warning {
  border-color: var(--spectrum-yellow-60);
}

.indicator-info {
  border-color: var(--brand-sapphire-60);
}
