.wrapper {
  display: flex;
  border-radius: var(--4-radius);
  background: var(--steel-20);
  box-sizing: border-box;
}

.wrapper-vertical {
  padding: var(--32-space) var(--16-space);
  flex-direction: column;
}

.wrapper-horizontal {
  padding: var(--16-space) var(--32-space);
  flex-direction: row;
}

.card-vertical {
  gap: var(--24-space);
  width: 385px;
}

.card-horizontal {
  gap: var(--24-space);
}

.indicator-vertical {
  border-top-style: solid;
}

.indicator-horizontal {
  border-left-style: solid;
}

.indicator-s {
  border-width: var(--2-border);
}

.indicator-m {
  border-width: var(--4-border);
}

.indicator-l {
  border-width: calc(var(--4-border) * 2);
}

.indicator-default {
  border-color: var(--background-paper);
}

.indicator-success {
  border-color: var(--success-green-600);
}

.indicator-error {
  border-color: var(--error-red-600);
}

.indicator-warning {
  border-color: var(--warning-orange-600);
}

.indicator-info {
  border-color: var(--primary-blue-600);
}
