.tab-wrapper {
  display: flex;
  font-family: var(--font-families-pt-root-ui);
  align-items: center;
  gap: var(--4-space);
  width: fit-content;
  height: 44px;
  cursor: pointer;
  border-bottom: var(--2-border) solid transparent;
  transition: all 1.2ms ease-in-out;
  &:hover {
    > span {
      color: var(--primary-blue-600);
    }
    svg {
      path {
        fill: var(--primary-blue-600);
      }
    }
  }
}

.tooltip {
  height: var(--16-size);
  cursor: pointer;
  > div {
    button {
      padding: 0;
    }
  }
}

.text {
  color: var(--text-grey-900);
  &:hover {
    text-decoration: none;
  }
}

.tab-active {
  border-bottom: var(--2-border) solid var(--primary-blue-600);
  cursor: text;
  transition: all ease-in-out 0.4s;
  &:hover {
    > span {
      color: var(--text-grey-900);
    }
    svg {
      path {
        fill: var(--text-grey-500);
      }
    }
  }
  .text-active {
    cursor: text;
    &:hover {
      color: var(--text-grey-900);
    }
  }
}

.badge {
  margin-left: var(--8-space);
  pointer-events: none;
}
