.root {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  border-left: 1px solid var(--unique-divider);
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  margin-top: -8px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

.columnTitle {
  position: sticky;
  top: 0;
  color: var(--steel-70);
  background: var(--steel-10);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  z-index: 100;
}
