.root {
  display: grid;
  grid-template-columns: repeat(3, var(--40-size));
  gap: var(--4-space);
  border-left: var(--1-border) solid var(--divider-divider);
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  margin-top: -8px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--4-space);
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

.columnTitle {
  position: sticky;
  top: 0;
  color: var(--ac-calendar-general-title);
  background: var(--ac-calendar-general-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--40-size);
  height: var(--48-size);
}
