.root {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  gap: 4px;
  border-left: 1px solid var(--text-grey-100);
  padding-top: 20px;
  padding-left: 18px;
  padding-bottom: 20px;
  margin-top: -8px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
  }
}

.columnTitle {
  position: sticky;
  top: 0;
  color: #909090;
  font-weight: var(--font-weights-pt-root-ui-2);
  font-size: var(--font-size-2);
  line-height: var(--line-heights-4);
  background: var(--background-paper);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
}
