.root {
  height: var(--64-size);
  width: 100%;
  max-width: 256px;
  display: flex;
  align-items: center;
  padding: 0 var(--16-space);
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;

  &:hover {
    background: var(--ac-sidebar-section-hover-bg);
  }

  &-active {
    background: var(--ac-sidebar-section-selected-bg);
  }

  &-disabled {
    background: var(--ac-sidebar-section-default-bg);
    cursor: default;

    &:hover {
      background: var(--ac-sidebar-section-default-bg);
    }
  }
}

.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.text {
  color: var(--ac-sidebar-section-text);
  margin-left: var(--16-space);

  &-disabled {
    color: var(--ac-sidebar-section-text-disabled);
  }
}

.icon {
  transition: transform 0.3s ease-in-out;

  &-vertical {
    &-rotated {
      transform: rotate(180deg);
    }
  }

  &-horizontal {
    transform: rotate(90deg);

    &-rotated {
      transform: rotate(270deg);
    }
  }
}
