.menu {
  min-height: 64px;
  width: 100%;
  max-width: 256px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background: var(--brand-jeans-10);
  }

  &-active {
    background: var(--brand-jeans-10);
  }

  &-disabled {
    background: var(--brand-jeans-20);
    cursor: default;

    &:hover {
      background-color: var(--brand-jeans-20);
    }
  }
}

.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 184px;
  text-wrap: balance;
  min-width: 0;
}

.text {
  margin-left: 16px;
  flex-shrink: 1;
  max-width: 190px;

  &-horizontal {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon {
  transition: transform 0.3s ease-in-out;

  &-vertical {
    &-rotated {
      transform: rotate(180deg);
    }
  }

  &-horizontal {
    transform: rotate(90deg);

    &-rotated {
      transform: rotate(270deg);
    }
  }
}
