.wrapper {
  height: inherit;
  display: flex;
  gap: var(--16-space);
  color: var(--text-grey-900);
}

.child-wrapper {
  display: flex;
  align-items: center;
}

.border-horizontal-wrapper {
  flex: 1;
  margin: auto 0;
}

.border-horizontal-small {
  flex: unset;
  width: var(--24-size);
}

.border-horizontal {
  border-bottom-width: var(--1-size);
  border-bottom-color: var(--steel-50);
}

.border-solid {
  border-bottom-style: solid;
}

.border-dashed {
  border-bottom-style: dashed;
}

.small-border {
  width: var(--24-size);
  flex: unset;
}

.vertical-wrapper {
  height: inherit;
  min-height: var(--24-size);
  margin: 0;
  display: flex;
}

.border-vertical {
  border-right-width: var(--1-size);
  border-right-color: var(--steel-50);
}

.border-vertical-solid {
  border-right-style: solid;
}

.border-vertical-dashed {
  border-right-style: dashed;
}
