.wrapper {
  height: inherit;
  display: flex;
  gap: 16px;
  color: var(--steel-90);
}

.child-wrapper {
  display: flex;
  align-items: center;
}

.border-horizontal-wrapper {
  flex: 1;
  margin: auto 0;
}

.border-horizontal-small {
  flex: unset;
  width: 24px;
}

.border-horizontal {
  border-bottom-width: 1px;
  border-bottom-color: var(--steel-50);
}

.border-solid {
  border-bottom-style: solid;
}

.border-dashed {
  border-bottom-style: dashed;
}

.small-border {
  width: 24px;
  flex: unset;
}

.border-vertical {
  border-right-width: 1px;
  border-right-color: var(--steel-50);
}

.border-vertical-solid {
  border-right-style: solid;
}

.border-vertical-dashed {
  border-right-style: dashed;
}
