@mixin standard-helper($bg, $color) {
  background: $bg;
  color: $color;
}

.container {
  gap: var(--8-space);
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0 0 0;
  gap: var(--8-space);
}

.wrapper {
  display: flex;
  border-radius: var(--4-radius);
  padding: var(--16-space);
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-main {
  display: flex;
  align-items: center;
  gap: var(--8-space);
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.content-wrapper {
  margin-left: var(--32-space);
}

.list-example {
  margin: 0;
  padding: 0;
  padding-left: var(--16-space);
  font-size: var(--body2-mono-bold-14-font-size);
}

.action-wrapper {
  margin-left: auto;
  display: flex;
  gap: var(--8-space);
}

// Standard
.standard-success {
  @include standard-helper(
    var(--ac-alert-success-bg),
    var(--ac-alert-success-text)
  );
}

.standard-error {
  @include standard-helper(
    var(--ac-alert-error-bg),
    var(--ac-alert-error-text)
  );
}

.standard-warning {
  @include standard-helper(
    var(--ac-alert-warning-bg),
    var(--ac-alert-warning-text)
  );
}

.standard-info {
  @include standard-helper(
    var(--ac-alert-info-bg),
    var(--ac-alert-info-text)
  );
}

.test-custom-style {
  background-color: var(--success-green-300);
  color: var(--info-lightblue-900);
  font-style: italic;

  svg {
    stroke: var(--spectrum-violet-900) !important;
  }
}

.btn-close {
  height: unset!important;
  &:hover {
    background-color: unset!important;
    opacity: .5;
  }
}
