.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--unique-black);
  opacity: 60%;
  z-index: 1000;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
  pointer-events: none;
}

.modalInner {
  position: relative;
}

.modal {
  border-radius: 4px;
  background: var(--steel-10);
  padding: 0 32px 32px;
  position: relative;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  pointer-events: auto;

  &.resizable {
    resize: both;
    overflow: auto;
  }

  &.topPadding {
    padding-top: 32px;
  }
}

.dragHandle {
  height: 32px;
  width: 100%;
  cursor: default;
  background-color: inherit;
  text-align: center;
  user-select: none;

  &.draggable {
    cursor: move;
  }
}

.modalClose {
  position: absolute;
  top: 4px;
  right: -53px;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background: none !important;
  }
}

.no-scroll {
  overflow: hidden;
}
