.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container16 {
  width: 16px;
  height: 16px;
}

.container24 {
  width: 24px;
  height: 24px;
}

.container32 {
  width: 32px;
  height: 32px;
}
