.wrapper {
  background-color: var(--background-paper);
  padding: 50px;
  border-radius: 10px;
  color: var(--steel-90);

  .dropdown__container {
    position: relative;

    &.disabled {
      opacity: 0.5;
    }
  }
}
