.wrapper {
  background-color: var(--steel-20);
  padding: 30px;
  border-radius: 10px;
  width: 900px;
  height: 400px;
}

.customOption {
  height: 90px;

  &:last-child,
  &:first-child,{
    height: 90px;
  }
}
