@mixin fullWidthBox {
  width: 100%;
  box-sizing: border-box;
}

@mixin threadBlock {
  margin-left: 40px;
  box-sizing: border-box;
}

$actionsWidth: 72px;

.comment {
  max-width: 1100px;
}

.root {
  @include fullWidthBox;
}

.reply {
  @include threadBlock;
}

.card {
  position: relative;
  width: 100%;
}

.main {
  @include fullWidthBox;
}

.mainWithActions {
  width: calc(100% - $actionsWidth);
}

.header {
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.content {
  width: 100%;
}

.actions {
  position: absolute;
  top: 0;
  right: 0;
  width: $actionsWidth;
  display: flex;
  justify-content: flex-end;
}

.editor {
  @include threadBlock;
  margin-top: 16px;
}

.replies {
  margin-top: 16px;
  width: 100%;
}
