.Avatar-module__wrapper___dAhb3{background-color:var(--unique-background);padding:30px;border-radius:10px;display:flex;gap:64px}.Avatar-module__row___V928h{display:flex;flex-flow:column nowrap;gap:32px}
