.SlideToggle-module__wrapper___f11HY{background-color:#000;padding:30px;border-radius:10px;width:900px;display:flex;flex-direction:column;gap:16px}.SlideToggle-module__color___tVK0W{color:var(--spectrum-green-60)}
