.Status-module__wrapper___wJ-zD{background-color:var(--steel-20);padding:30px;border-radius:10px;width:900px;display:flex;align-items:center;justify-content:center;gap:12px;max-width:100%;min-height:80px}
