.submenu-item {
  display: flex;
  flex-direction: column;
  width: 363px;
  flex-shrink: 0;
}

.submenu-item:first-child {
  margin-top: 8px;
}

.head {
  display: flex;
  height: 48px;
  align-items: center;

  &-offset {
    &-1 {
      padding: 0 16px;
    }

    &-2 {
      padding: 0 32px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  &:hover {
    background: var(--steel-30);
  }

  &-active {
    background: var(--brand-sapphire-10);

    &:hover {
      background: var(--brand-sapphire-20);
    }
  }

  &-disabled {
    opacity: 0.5;
    background: var(--steel-10);
    cursor: default;
    pointer-events: none;
  }
}

.title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  margin-left: 4px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  transition: transform 0.3s ease-in-out;

  &-rotated {
    transform: rotate(180deg);
  }
}

.image {
  flex-shrink: 0;
  padding: 0 16px 16px 16px;
  box-sizing: border-box;
}

.submenu {
  display: flex;
  flex-direction: column;

  &-hidden {
    overflow: hidden;
  }

  &-enter {
    max-height: 0;
  }

  &-enter-active {
    max-height: 500px;
    transition: max-height ease-in 0.3s;
  }

  &-exit {
    max-height: 500px;
  }

  &-exit-active {
    max-height: 0;
    transition: max-height ease-out 0.3s;
  }
}

.favorite-button {
  background: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  pointer-events: none;

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s;
    pointer-events: auto;
  }
}
