.root {
  display: flex;
  flex-direction: column;
  width: 363px;
  flex-shrink: 0;
}

.head {
  display: flex;
  height: var(--48-size);
  align-items: center;

  &-offset {
    &-1 {
      padding: 0 var(--16-space);
    }

    &-2 {
      padding: 0 var(--32-space);
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;

  &:hover {
    background: var(--ac-sidebar-subsection-hover-bg);
  }

  &-active {
    background: var(--ac-sidebar-subsection-selected-bg);

    &:hover {
      background: var(--ac-sidebar-subsection-selected-hover-bg);
    }
  }

  &-disabled {
    opacity: var(--50-opacity);
    background: var(--ac-sidebar-subsection-default-bg);
    cursor: default;

    &:hover {
      background: var(--ac-sidebar-subsection-default-bg);
    }
  }
}

.title {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  height: var(--48-size);
  margin-left: var(--4-space);
  cursor: pointer;
}

.text {
  color: var(--ac-sidebar-subsection-text);

  &-active {
    color: var(--ac-sidebar-subsection-selected-text);
  }
}

.favorite {
  color: var(--ac-icon-blue);
}

.icon {
  transition: transform 0.3s ease-in-out;

  &-rotated {
    transform: rotate(180deg);
  }
}

.image {
  flex-shrink: 0;
  padding: 0 var(--16-space) var(--16-space) var(--16-space);
  box-sizing: border-box;
}

.submenu {
  display: flex;
  flex-direction: column;

  &-hidden {
    overflow: hidden;
  }

  &-enter {
    max-height: 0;
  }

  &-enter-active {
    max-height: 500px;
    transition: max-height ease-in 0.3s;
  }

  &-exit {
    max-height: 500px;
  }

  &-exit-active {
    max-height: 0;
    transition: max-height ease-out 0.3s;
  }
}
