.wrapper {
  background-color: var(--unique-background);
  padding: 30px;
  border-radius: 10px;
}

.table {
  display: grid;
  max-width: 800px;
}

.row {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 3fr;
  align-items: center;
  margin-bottom: 20px;
}
