$sideSize: 33px;

.iconBox {
  width: $sideSize;
  height: $sideSize;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}

$indicatorSize: 10px;

@keyframes blink {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  width: $indicatorSize;
  height: $indicatorSize;
  background-color: red;
  overflow: hidden;
  border-radius: 50%;
  animation: blink 1.2s infinite ease-in-out;
}
