.drawerOverlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ac-overlay-bg);
  display: flex;
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;

  &Backdrop {
    background-color: transparent;
  }

  &.left {
    left: 0;
    justify-content: flex-start;
  }

  &.right {
    right: 0;
    justify-content: flex-end;
  }

  &.top {
    left: 0;
    top: 0;
  }

  &.bottom {
    left: 0;
    bottom: 0;
    top: auto;
    align-items: flex-end;
  }
}

.wrapper {
  display: flex;

  &.left {
    transform: translateX(-100%);
    animation: slideInLeft 0.3s ease-in-out forwards;

    &.slideOutLeft {
      animation: slideOutLeft 0.3s ease-in-out forwards;
    }
  }

  &.right {
    flex-direction: row-reverse;
    transform: translateX(100%);
    animation: slideInRight 0.3s ease-in-out forwards;

    &.slideOutRight {
      animation: slideOutRight 0.3s ease-in-out forwards;
    }
  }

  &.top {
    flex-direction: column;
    //height: max-content;
    transform: translateY(-100%);
    animation: slideInTop 0.3s ease-in-out forwards;

    &.slideOutTop {
      animation: slideOutTop 0.3s ease-in-out forwards;
    }
  }

  &.bottom {
    flex-direction: column-reverse;
    height: max-content;
    transform: translateY(100%);
    animation: slideInBottom 0.3s ease-in-out forwards;
    bottom: 0;
    top: auto;

    &.slideOutBottom {
      animation: slideOutBottom 0.3s ease-in-out forwards;
    }
  }

  &.left,
  &.right {
    top: 0;
    height: 100%;
  }

  &.top,
  &.bottom {
    left: 0;
    width: 100%;
    height: max-content;
  }
}

.drawer {
  background: var(--steel-10);
  padding: 32px;
  box-sizing: border-box;
}

.drawerContent {
  overflow-y: auto;

  &.left,
  &.right {
    height: 100%;
  }

  &.top,
  &.bottom {
    width: 100%;
  }
}

.close {
  position: absolute;
  display: flex;
  background: transparent;
  padding: 12px;

  &.left {
    top: 0;
    right: -56px;
  }

  &.right {
    top: 0;
    left: -56px;
  }

  &.top {
    bottom: -56px;
    right: 0;
  }

  &.bottom {
    top: -56px;
    right: 0;
  }
}

.drawerClose {
  cursor: pointer;

  &:hover {
    background: none !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideOutTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
