.wrapper {
  display: flex;
  gap: 16px;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 8px 0;
  gap: 8px;

  > div:first-child {
    flex-grow: 1;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 24px;

  &-with-margin {
    margin-left: auto;
  }
}
.children-container {
  display: flex;
  justify-content: space-between;
}
.wrapper-default {
  width: 100%;
  padding: 16px 48px;
}

.title-btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  &-with-crumbs {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.btn-wrapper {
  width: 40px;
  height: 40px;
  padding: 8px;
}
.title-container {
  display: flex;
  gap: 8px;
}
.title {
  color: var(--steel-90);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}

.button-padding-unset {
  position: relative;
  button {
    padding: unset;
  }
}

.notification-amount {
  position: absolute;
  top: 0;
  right: 0;
}
