.wrapper {
  display: flex;
  gap: 16px;
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 8px 0;
  gap: 8px;

  > div:first-child {
    flex-grow: 1;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 24px;

  &-with-margin {
    margin-left: auto;
  }
}
.children-container {
  display: flex;
  justify-content: space-between;
}
.wrapper-default {
  width: 100%;
  padding: 16px 48px;
}

.title-btn-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  &-with-crumbs {
    display: flex;
    gap: 16px;
  }
}

.btn-wrapper {
  button {
    padding: 8px 12px;

    span {
      margin: unset;
    }
  }
}

.btn-back-icon {
  path {
    fill: var(--brand-sapphire-60);
  }
}

.title {
  color: var(--steel-90);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}
.title-container {
  display: flex;
  gap: 8px;
}
.button-padding-unset {
  position: relative;
  button {
    padding: unset;
  }
}

.notification-amount {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-icon-size {
  svg {
    height: 24px;
    width: 24px;
  }
}
