.wrapper {
  display: flex;

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.breadcrumbs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 8px 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wrapper-default {
  padding: 16px 48px;
}

.wrapper-compact {
  padding: 8px 24px;
}

.title-btn-wrapper {
  display: flex;
  gap: 16px;
}

.btn-wrapper {
  button {
    padding: 8px 12px;

    span {
      margin: unset;
    }
  }
}

.btn-back-icon {
  path {
    fill: var(--brand-sapphire-60);
  }
}

.title {
  color: var(--steel-90);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
}
.title-container {
  display: flex;
  gap: 8px;
}
.button-padding-unset {
  position: relative;
  button {
    padding: unset;
  }
}

.notification-amount {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-icon-size {
  svg {
    height: 24px;
    width: 24px;
  }
}

.favorite-icon-color {
  path {
    fill: var(--steel-70);
  }
}
[data-ui-dropdown-button] {
  background: none;
  &:hover {
    background: none;
  }
  &:active {
    background: none;
  }
}
[data-ui-dropdown-button-children] {
  background: none;
  font-weight: var(--heading2-32-font-weight);
  font-size: var(--heading2-32-font-size);
  line-height: var(--heading2-32-line-height);
}
