@mixin padding($top-bottom, $left-right) {
  .header {
    padding: $top-bottom $left-right;
  }
}

@mixin contentColorHelper($bg, $cl, $icon) {
  background-color: $bg;
  color: $cl;

  path {
    fill: $icon;
  }
}

.expandable {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-out;
}

.expanded {
  grid-template-rows: 1fr;
}

.content {
  &_basic {
    overflow: hidden;
    padding: unset;
    transition: all 0.3s ease-in-out;
    transform-origin: left top;
    background-color: var(--steel-30);
    color: var(--steel-70);
  }

  &_paper {
    background-color: var(--steel-10);
  }
}

.item {
  width: 100%;
  position: relative;

  .header {
    cursor: pointer;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;

    .icon {
      flex: 0 0 auto;
      height: auto;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.disabled {
    pointer-events: none;

    .header {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &.default {
    .header {
      @include contentColorHelper(var(--steel-30), var(--steel-90), var(--steel-90));

      &:hover:not(.disabled) {
        @include contentColorHelper(var(--steel-40), var(--steel-90), var(--steel-90));
      }
    }

    &.disabled .header {
      @include contentColorHelper(var(--steel-30), var(--steel-90), var(--steel-90));
    }
  }

  &.paper {
    .header {
      @include contentColorHelper(var(--steel-10), var(--steel-90), var(--steel-90));

      &:hover:not(.disabled) {
        @include contentColorHelper(var(--steel-40), var(--steel-90), var(--steel-90));
      }
    }

    &.disabled .header {
      @include contentColorHelper(var(--steel-10), var(--steel-90), var(--steel-90));
    }
  }

  &.m {
    @include padding(16px, 16px);

    .content {
      padding: 8px 16px 16px 16px;
    }
  }

  &.s {
    @include padding(8px, 16px);

    .content {
      padding: 4px 16px 8px 16px;
    }
  }

  &.xs {
    @include padding(4px, 16px);

    .content {
      padding: 2px 16px 4px 16px;
    }
  }
}

.icon {
  &_helper {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transition: 0.3s ease-out;
    }
  }

  &_plus {
    svg {
      transform: rotate(45deg);
    }
  }

  &_cross {
    svg {
      transform: rotate(0);
    }
  }

  &_down{
    svg {
      transform: rotate(0);
    }
  }

  &_up {
    svg {
      transform: rotate(180deg);
    }
  }
}
