.root {
  font-family: var(--font-families-pt-root-ui);
  user-select: none;
  transition: 0.2s;
  width: 100%;
  position: relative;
}
.disabled {
  pointer-events: none;

  path {
    fill: var(--ac-icon-grey);
  }
}
.isOpen {
  z-index: 99999;
}
