$blackOpacity60: rgba(0, 0, 0, 0.6);

@mixin aspect-ratio($x, $y) {
  aspect-ratio: calc($x / $y);
}

.image-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;

  // Aspect ratio variants
  &.ratio-1x1 {
    @include aspect-ratio(1, 1);
  }
  &.ratio-4x3 {
    @include aspect-ratio(4, 3);
  }
  &.ratio-3x4 {
    @include aspect-ratio(3, 4);
  }
  &.ratio-16x9 {
    @include aspect-ratio(16, 9);
  }

  // Border radius variants
  &.radius-none {
    border-radius: 0;
  }
  &.radius-4px {
    border-radius: var(--4-radius);
  }
  &.radius-8px {
    border-radius: var(--8-radius);
  }

  // Image common styles
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Hover Overlay
  .hover-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--never-changes-black);
    opacity: var(--65-opacity);
    position: absolute;
    top: 0;
    left: 0;
  }

  // Hover Icon
  .hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--never-changes-white);
    z-index: 1;
  }

  // No Content State
  &.no-content {
    background-color: var(--dark-primary-navyblue-50);
    display: flex;
    align-items: center;
    justify-content: center;

    .empty-icon {
      width: 17%;
    }
  }
}
