.top {
  position: absolute;
  left: 100%;
  bottom: 15px;
  color: var(--steel-90);
}
.right {
  position: absolute;
  left: calc(100% + 32px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--steel-90);
}

.label {
  position: absolute;
  bottom: 15px;
  color: var(--steel-70);
}
