.top {
  position: absolute;
  left: 100%;
  bottom: 15px;
  color: var(--steel-90);
}
.right {
  position: absolute;
  color: var(--steel-90);
}

.label {
  position: absolute;
  bottom: 15px;
  color: var(--steel-70);
}
