.list-center {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--unique-divider);
  border-radius: 4px;
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.wrapper {
  background: var(--steel-20);
}

.list-with-title {
  padding: 0 16px 16px 32px;
  background-color: var(--steel-10);
}
