@mixin list-center {
  display: flex;
  flex-direction: column;
  gap: var(--8-space);
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--8-space);
}

.wrapper {
  background: var(--default-second);
}

.title {
  margin-bottom: var(--16-space);
}

.list {
  @include list-center;
  padding: 0 var(--16-space) var(--16-space) var(--16-space);
}

.list-with-title {
  @include list-center;
  padding: 0 var(--16-space) var(--16-space) var(--32-space);
}
