.list-center {
  display: flex;
  flex-direction: column;
  border: var(--1-border) solid var(--divider-divider);
  border-radius: var(--4-radius);
}

.vertical-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--8-space);
}

.wrapper {
  background: var(--steel-20);
}

.list-with-title {
  padding: 0 var(--16-space) var(--16-space) var(--32-space);
}
