.wrapper {
  background-color: var(--default-second);
  padding: 20px;
  border-radius: 4px;
  margin-top: -3rem;
}

.header-wrapper {
  color: var(--text-grey-900);
}

.description {
  max-width: 800px;
  margin: 20px 0;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--text-grey-900);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tabs {
  zoom: 1.3;
  margin-bottom: 20px;
  > div {
    width: auto;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.link {
  border-bottom: none !important;
}

.iframe {
  border: 1px solid rgba(0, 23, 41, 0.16);
}

.properties {
  position: fixed;
  bottom: 20px;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: (0, 0, 0, 0.1) 0px 1px 3px 0px;
  .arguments {
    position: fixed;
    bottom: 50px;
    background: var(--background-paper);
    width: 800px;
    max-height: 400px;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid var(--background-blue);
    border-radius: 6px;
    table {
      color: var(--text-grey-900);
      margin-bottom: 0;
      border-radius: 6px;
      border-spacing: 0;
      border-collapse: collapse;
      border-style: hidden;
      box-shadow: 0 0 0 1px var(--background-blue);
      td {
        border: 2px solid var(--background-blue);
        background: var(--background-paper);
        padding: 10px 15px;
      }
    }
  }
}

.tests {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
  .test {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border: 1px solid var(--success-green-400);
    border-radius: 4px;
    width: 300px;
  }
  .chip {
    > div {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
  .text {
    width: 100%;
  }
}

$sandpack-gray: #A7B0C0;
$sandpack-white: #C8CFDC;
$sandpack-black: #21252B;

@mixin border-radius($radius, $side: 'all') {
  @if $side == 'left' {
    border-radius: $radius 0 0 $radius;
  }
  @if $side == 'right' {
    border-radius:  0 $radius $radius 0;
  }
  @if $side == 'all' {
    border-radius: $radius;
  }
}

.toggle-btn-group {
  background-color: $sandpack-gray;
  border-color: $sandpack-black;
  margin-right: auto;
  div:nth-child(2) {
    div:first-child {
      div:first-child {
        border-right-color: $sandpack-black;
      }
    }
  }

  @include border-radius(var(--circle-radius));

  div:first-child {
    @include border-radius(var(--circle-radius), 'left');
  }

  div:last-child {
    @include border-radius(var(--circle-radius), 'right');
  }
}

.toggle-btn {
  path {
    stroke: $sandpack-black;
    fill: none;
  }

  &:hover {
    background-color: $sandpack-white;
  }
}

.toggle-btn-active {
  background-color: $sandpack-black;
  path {
    stroke: $sandpack-gray;
    fill: none;
  }

  &:hover {
    background-color: $sandpack-black;
    path {
      stroke: $sandpack-white;
      fill: none;
    }
  }
}

.icon-svg-wrapper {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
}
