.label {
  display: flex;
  align-items: center;
  column-gap: 12px;
  cursor: pointer;
  position: relative;
  width: fit-content;
  z-index: 1;

  &:has(.checkbox:disabled) {
    cursor: default;
  }

  &:not(:has(.checkbox:disabled)):has(.checkbox:not(.error))::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 9px;
    transform: translate(-50%, -50%);
    width: var(--32-size);
    height: var(--32-size);
    border-radius: 50%;
    background-color: var(--ac-checkbox-checked-focused-focus);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: -1;
  }

  &:not(:has(.checkbox:disabled)):has(.checkbox:not(.error)):hover::after {
    opacity: var(--8-opacity);
  }

  &:has(.checkbox:checked) {
    &:not(:has(.checkbox:disabled)):has(.checkbox:not(.error))::after {
      background-color: var(--ac-checkbox-checked-focused-focus);
    }
  }

  &:not(:has(.checkbox:disabled)):has(.checkbox:not(.error))::after {
    background-color: var(--ac-checkbox-unchecked-focused-focus);
  }

  &:not(.checkbox:disabled).checkbox:not(.error):hover {
    input.checkbox {
      border-color: var(--ac-checkbox-unchecked-focused-stroke);
      background-color: var(--ac-checkbox-unchecked-focused-fill);
    }
  }

}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 18px;
  height: 18px;
  border: var(--2-border) solid var(--ac-checkbox-unchecked-normal-stroke);
  border-radius: var(--2-radius);
  background-color: var(--ac-checkbox-unchecked-normal-fill);
  cursor: pointer;

  &:checked {
    background-color: var(--ac-checkbox-checked-normal);
    border-color: var(--ac-checkbox-checked-normal);

    ~ .checkmark {
      opacity: 1;
    }
  }

  &.error {
    border-color: var(--ac-checkbox-unchecked-error-stroke);
    background-color: var(--ac-checkbox-unchecked-error--fill);

    ~ .checkmark {
      background-color: var(--ac-checkbox-unchecked-error-stroke);
    }
  }

  &:checked:disabled {
    cursor: default;
    border: unset;
    background-color: var(--ac-checkbox-unchecked-disabled-fill);

    ~ .checkmark {
      opacity: var(--50-opacity);
      background-color: var(--ac-checkbox-checked-disabled);
    }
  }

  &:disabled {
    opacity: var(--50-opacity);
    cursor: default;
    border-color: var(--ac-checkbox-unchecked-disabled-stroke);
    background-color: var(--ac-checkbox-unchecked-disabled-fill);

    ~ .checkmark {
      background-color: var(--ac-checkbox-checked-disabled);
    }
  }
}

.checkmark {
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: var(--2-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 10;

  svg {
    width: 14px;
    height: 14px;
  }
}
