@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin cell {
  display: flex;
  height: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
}

.root {
  @include column;
  position: sticky;
  flex-shrink: 0;
  top: 0;
  width: 64px;
  transition: width 0.3s;
  z-index: 10001;

  &-vertical {
    height: 100vh;

    &-expanded {
      width: 256px;
    }
  }

  &-horizontal {
    height: 64px;

    &-expanded {
      width: 100%;
    }
  }
}

.menu {
  position: relative;
  z-index: 100000;
  background: var(--brand-jeans-20);
  flex-shrink: 0;
  justify-content: space-between;

  &-vertical {
    @include column;
    height: 100%;
  }

  &-horizontal {
    display: flex;
    flex-grow: 1;
  }
}

.burger {
  @include cell;
  width: 64px;
  justify-content: center;
  background: var(--brand-jeans-20);

  &:hover {
    background: var(--brand-jeans-10);
  }

  &-expanded {
    background: var(--brand-jeans-20);
  }
}

.head {
  @include column;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;

  &.auth {
    margin: 0 8px;

    &:hover {
      background-color: var(--brand-jeans-10);
    }
  }
}

.top {
  @include cell;
  cursor: initial;
  justify-content: space-between;
  align-items: center;
  background: var(--brand-jeans-30);
  transition: padding-left 0.3s ease-in-out;

  &-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  &-expanded {
    padding: 0 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.clickable {
  cursor: pointer;
}

.company {
  margin: 0 4px;
  opacity: 0.5;
}

.body {
  display: flex;
  flex-grow: 1;

  &-vertical {
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-horizontal {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.topSection,
.bottomSection {
  @include column;
}

.rightSection {
  @include cell;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 10001;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-jeans-30);
  opacity: 0;
  animation: fadeIn 0.3s linear forwards;
  will-change: opacity;
}
