@mixin height-width-helper($val) {
  height: $val;
  width: $val;
}

@mixin bg-border-icon-helper($bw, $bc, $bg, $ic) {
  border-width: $bw;
  border-color: $bc;
  background-color: $bg;

  path {
    fill: $ic;
  }
}
@mixin title-helper($cl) {
  color: $cl;
  transition: 0.3s;
  cursor: pointer;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-file-upload {
  text-align: center;
  position: relative;
}

.input-file-upload {
  display: none;
}

.label-file-upload {
  cursor: pointer;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-radius: 4px;
}

.label-file-upload-l {
  padding: 32px 48px;
}

.label-file-upload-m {
  padding: 16px 24px;
}

.label-file-upload-s {
  padding: 8px 16px;
}

.label-file-upload-small-icon {
  padding: 0;
  height: 56px;
  width: 64px;
}

.label-loading.label-loading {
  border-color: var(--steel-60);
  background-color: var(--steel-10);
  border-width: 1px;
}

.label-s-default {
  @include bg-border-icon-helper(1px, var(--steel-60), auto, auto);
}

.label-default {
  @include bg-border-icon-helper(1px, var(--steel-60), transparent, var(--steel-50));

  &:hover {
    @include bg-border-icon-helper(1px, var(--steel-60), var(--steel-20), var(--steel-50));
  }
}

.label-info {
  @include bg-border-icon-helper(2px, var(--brand-sapphire-60), var(--brand-sapphire-10), var(--brand-sapphire-50));
}

.label-error {
  @include bg-border-icon-helper(1px, var(--spectrum-red-60), transparent, var(--spectrum-red-50));
  &:hover {
    @include bg-border-icon-helper(1px, var(--spectrum-red-60), var(--steel-20), var(--spectrum-red-50));
  }
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.icon-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  path {
    transition: 0.3s;
  }
}

.icon-l {
  height: 96px;
  margin-top: 10px;
  margin-bottom: 24px;
  & > div {
    @include height-width-helper(96px);
    & > svg {
      @include height-width-helper(96px);
    }
  }
}

.icon-m {
  height: 56px;
  margin-top: 10px;
  margin-bottom: 16px;
  & > div {
    @include height-width-helper(56px);
    & > svg {
      @include height-width-helper(56px);
    }
  }
}

.text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.title-loading {
  @include title-helper(var(--steel-90));
}
.title-default.title-loading,
.title-info.title-loading,
.title-error.title-loading,
.title-warning.title-loading {
  @include title-helper(var(--steel-90));
}
.title-default {
  @include title-helper(var(--steel-90));
}

.title-info {
  @include title-helper(var(--steel-90));
}

.title-error {
  @include title-helper(var(--spectrum-red-60));
}

.title-warning {
  @include title-helper(var(--spectrum-yellow-60));
}

.small-title-default {
  @include title-helper(var(--steel-90));
}

.small-title-info {
  @include title-helper(var(--unique-bluewhite));
}

.small-title-error {
  @include title-helper(var(--spectrum-red-60));
}

.small-title-warning {
  @include title-helper(var(--spectrum-yellow-60));
}

.text-color {
  color: var(--steel-70);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 14px;
}

.btn-wrapper-medium {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.loader-wrapper {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 24px;
}

.loader-wrapper-small-text {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  color: var(--steel-90);
}

.percent-wrapper {
  @include position-center;
  margin-top: 0px;
  color: var(--steel-90);
}
.percent-wrapper-l {
  @include position-center;
  color: var(--steel-90);
  margin-top: 10px;
}
.small-title-helper {
  display: flex;
  align-items: center;
  color: var(--steel-90);
}

.spinner-position-helper {
  @include position-center;
  margin-top: 10px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  > * {
    pointer-events: none;
  }
}

.small-icon-margin {
  margin-bottom: unset;
}

.custom-component-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.small-default-icon.small-default-icon {
  path {
    fill: var(--brand-sapphire-60);
  }
  &:hover {
    path {
      fill: var(--brand-sapphire-60);
    }
    background-color: transparent;
  }
}
.small-text-button.small-text-button {
  &:hover {
    background-color: transparent;
  }
}
