@mixin icon-size($size) {
  svg {
    width: var(--#{$size}-size);
    height: var(--#{$size}-size);
  }
}

@mixin btn-helper($color, $bg) {
  color: $color;
  background: $bg;

  path {
    fill: $color;
  }
}

@mixin divider-helper($b-color) {
  margin: 0;

  & > div {
    border-right-color: $b-color;
  }
}

.wrapper {
  border-radius: var(--4-radius);
  border: var(--1-border) solid var(--text-grey-200);
  background: var(--background-light-grey);
  width: fit-content;
  display: flex;
}

.btn-wrapper {
  cursor: pointer;
  display: flex;
  gap: var(--4-space);
  border-radius: 3px;
  transition: all 0.03s ease-out;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-default {
  @include icon-size(24);
}

.icon-compact {
  @include icon-size(16);
}

.badge-wrapper {
  margin: auto 0;
}

.label-wrapper {
  margin: auto 0;
}

.divider-wrapper {
  height: var(--24-size);
  margin: auto 0;
}

.divider-color-default {
  @include divider-helper(var(--ac-toggle-button-default-default-stroke))
}
.divider-color-success {
  @include divider-helper(var(--ac-toggle-button-success-default-stroke))
}
.divider-color-warning {
  @include divider-helper(var(--ac-toggle-button-warning-default-stroke))
}
.divider-color-error {
  @include divider-helper(var(--ac-toggle-button-error-default-stroke))
}

.btn-disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.btn-size-default {
  padding: var(--8-space);
}

.btn-size-compact {
  padding: 3px var(--8-space);
}

.btn-default {
  @include btn-helper(
    var(--ac-toggle-button-default-default-text),
    transparent
  );

  path {
    fill: var(--ac-icon-blue);
  }

  &:hover {
    @include btn-helper(
      var(--ac-toggle-button-default-hover-text),
      var(--ac-toggle-button-default-hover-bg)
    )
  }

  &:active {
    @include btn-helper(
      var(--ac-toggle-button-default-active-text),
      var(--ac-toggle-button-default-active-bg)
    )
  }
}

.btn-active-default {
  @include btn-helper(
    var(--ac-toggle-button-default-active-text),
    var(--ac-toggle-button-default-active-bg)
  )
}

.btn-success {
  @include btn-helper(
    var(--ac-toggle-button-success-default-text),
    transparent
  );

  path {
    fill: var(--ac-icon-success);
  }

  &:hover {
    @include btn-helper(
      var(--ac-toggle-button-success-hover-text),
      var(--ac-toggle-button-success-hover-bg)
    )
  }

  &:active {
    @include btn-helper(
      var(--ac-toggle-button-success-active-text),
      var(--ac-toggle-button-success-active-bg)
    )
  }
}

.btn-active-success {
  @include btn-helper(
    var(--ac-toggle-button-success-active-text),
    var(--ac-toggle-button-success-active-bg)
  )
}

.btn-warning {
  @include btn-helper(
    var(--ac-toggle-button-warning-default-text),
    transparent
  );

  path {
    fill: var(--ac-icon-warning);
  }

  &:hover {
    @include btn-helper(
      var(--ac-toggle-button-warning-hover-text),
      var(--ac-toggle-button-warning-hover-bg)
    )
  }

  &:active {
    @include btn-helper(
      var(--ac-toggle-button-warning-active-text),
      var(--ac-toggle-button-warning-active-bg)
    )
  }
}

.btn-active-warning {
  @include btn-helper(
      var(--ac-toggle-button-warning-active-text),
      var(--ac-toggle-button-warning-active-bg)
    )
}

.btn-error {
  @include btn-helper(
    var(--ac-toggle-button-error-default-text),
    transparent
  );

  path {
    fill: var(--ac-icon-error);
  }

  &:hover {
    @include btn-helper(
      var(--ac-toggle-button-error-hover-text),
      var(--ac-toggle-button-error-hover-bg)
    )
  }

  &:active {
    @include btn-helper(
      var(--ac-toggle-button-error-active-text),
      var(--ac-toggle-button-error-active-bg)
    )
  }
}

.btn-active-error {
  @include btn-helper(
    var(--ac-toggle-button-error-active-text),
    var(--ac-toggle-button-error-active-bg)
  )
}

.test-class-wrapper {
  border-color: var(--primary-blue-900);
}

.test-class-btn {
  background-color: var(--primary-blue-500);
}

.tooltip-side-helper {
  div:nth-child(2) {
    bottom: unset;
    transform: translateY(-30%);
  }
}

.tooltip-compact {
  div:nth-child(2) {
    padding: calc(var(--12-space) / 2) var(--8-space);
  }
}

.tooltip-compact-side-helper {
  div:nth-child(2) {
    bottom: unset;
    transform: translateY(-25%);
  }
}

.tooltip-compact-top-helper {
  div:nth-child(2) {
    bottom: calc(var(--24-space) + var(--2-space))!important;
  }
}

.tooltip-compact-bottom-helper {
  div:nth-child(2) {
    top: calc(var(--24-space) + var(--2-space))!important;
  }
}
