.tab-wrapper {
  display: flex;
  font-family: var(--font-families-pt-root-ui);
  align-items: center;
  gap: 4px;  
  width: fit-content;
  height: 44px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 1.2ms ease-in-out;
  &:hover {
    > span {
      color: var(--primary-blue-600);
    }
    svg {
      path {
        fill: var(--primary-blue-600);
      }
    }
  }
}

.tooltip {
  height: var(--16-size);
  cursor: pointer;
  > div {
    button {
      padding: 0;
    }
  }
}

.text {
  font-size: var(--font-size-2);
  font-weight: var(--font-weights-pt-root-ui-2);
  color: var(--text-grey-900);
  line-height: var(--line-heights-5);
  &:hover {
    text-decoration: none;
  }
}

.tab-active {
  border-bottom: 2px solid var(--primary-blue-600);
  cursor: text;
  transition: all ease-in-out .4s;
  &:hover {
    > span {
      color: var(--text-grey-900);
    }
    svg {
      path {
        fill: var(--text-grey-500);
      }
    }
  }
  .text-active {
    font-weight: var(--font-weights-pt-root-ui-0);
    line-height: var(--line-heights-4);
    cursor: text;
    &:hover {
      color: var(--text-grey-900);
    }
  }
}

.badge {
  margin-left: 4px;
  pointer-events: none;
}
