.root {
  padding: 10px var(--4-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ac-calendar-general-bg);
  width: var(--280-size);
}

.disableContent {
  & .content {
    &:hover {
      background-color: var(--ac-calendar-general-bg);
      cursor: default;
    }
  }
}

.content {
  margin: 0 var(--16-space);
  display: flex;
  align-items: center;
  border-radius: var(--circle-radius);
  cursor: pointer;
  padding: 5px 10px 5px 20px;
  transition: 0.3s;

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg);
  }
}

.contentText {
  margin-right: var(--4-space);
  color: var(--ac-calendar-general-text);
  white-space: nowrap;
}

@mixin control-with-icon($color) {
  border-radius: var(--circle-radius);
  cursor: pointer;
  transition: 0.3s;

  path {
    fill: $color;
  }

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg);
  }
}

.icon {
  @include control-with-icon(var(--ac-icon-grey));
}

.icon-month-wrapper {
  width: var(--32-size);
  height: var(--32-size);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-month {
  @include control-with-icon(var(--ac-icon-blue));
}
