.root {
  padding: var(--8-space) var(--4-space);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--ac-calendar-general-bg);
  width: var(--280-size);
}

.disableContent {
  & .content {
    &:hover {
      background-color: var(--ac-calendar-general-bg);
      cursor: default;
    }
  }
}

.content {
  display: flex;
  align-items: center;
  border-radius: var(--circle-radius);
  cursor: pointer;
  padding: var(--4-space) var(--12-space) var(--4-space) var(--12-space);
  transition: 0.3s;

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg);
  }
}

.contentText {
  margin-right: var(--4-space);
  color: var(--ac-calendar-general-text);
  white-space: nowrap;
}

@mixin control-with-icon($color) {
  border-radius: var(--circle-radius);
  cursor: pointer;
  transition: 0.3s;

  path {
    fill: $color;
  }

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg);
  }
}

.btn-icon-arrow {
  border-radius: var(--circle-radius);
  height: var(--32-size);
  min-width: var(--32-size);

  &:hover {
    background-color: var(--ac-calendar-state-hover-bg)!important;
  }
}
