@mixin unset-margins {
  margin-top: unset;
  margin-bottom: unset;
}

.chip {
  align-items: flex-start;
  flex-direction: column;
}

.label {
  @include unset-margins;
}

.suffix {
  @include unset-margins;
  display: flex;
  align-items: end;
  padding-left: 4px;
}
