.wrapper {
  position: relative;
  max-width: 1100px;
}

.comments {
  box-sizing: border-box;
}

.editor {
  margin: 16px 0 0 40px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.loader {
  min-height: 160px;
}
