$commentMaxWidth: 1100px;

.wrapper {
  position: relative;
}

.comments {
  box-sizing: border-box;
  max-width: $commentMaxWidth;
}

.editor {
  max-width: $commentMaxWidth;
}

.loader {
  min-height: 160px;
}
