:root {
  --transition-Medium: 0.3s;
}

@mixin colorButton($bg, $hoverBg: $bg) {
  background: var($bg);

  &._active {
    background: var($hoverBg);
  }

  @media (hover: hover) {
    &:hover:not(:disabled) {
      background: var($hoverBg);
    }
  }
}

.segmentButtonGroup {
  width: fit-content;

  & > .segmentButton {
    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      padding-right: 6px;
      border-right: none;
    }

    &:not(:first-child):not(:last-child) {
      padding-right: 6px;
      border-right: none;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.segmentButton {
  display: flex;
  box-sizing: border-box;
  min-width: 40px;
  padding: 8px 5px;
  border: 1px solid var(--unique-divider);
  margin: 0px;
  cursor: pointer;
  place-content: center;
  transition: background var(--transition-Medium) ease-in-out;

  &._compact {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  &._default {
    @include colorButton(--steel-10, --steel-30);
  }

  &._steel {
    @include colorButton(--steel-50, --steel-30);
  }

  &._sky {
    @include colorButton(--spectrum-sky-30, --spectrum-sky-10);
  }
  &._red {
    @include colorButton(--spectrum-red-30, --spectrum-red-10);
  }

  &._yellow {
    @include colorButton(--spectrum-yellow-30, --spectrum-yellow-10);
  }

  &._green {
    @include colorButton(--spectrum-green-30, --spectrum-green-10);
  }

  &._active,
  &:disabled {
    pointer-events: none;
  }

  &:disabled {
    & > span {
      background: var(--steel-30);
      background-clip: text;
      -webkit-background-clip: text;
      opacity: 50%;
    }
  }
}
