@mixin standard-helper($bg, $color) {
  background: $bg;
  color: $color;
}

.badge {
  &-success {
    @include standard-helper(var(--spectrum-green-30), var(--unique-white));
  }
  &-error {
    @include standard-helper(var(--spectrum-red-30), var(--unique-white));
  }
}

.step-button {
  & > span {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 2px;
  }

  &:hover {
    .step-name {
      &-success {
        color: var(--spectrum-green-60);
      }
      &-error {
        color: var(--spectrum-red-60);
      }
    }
    .badge {
      cursor: pointer;

      &-brand {
        @include standard-helper(var(--brand-sapphire-60), var(--unique-white));
      }
      &-success {
        @include standard-helper(var(--spectrum-green-60), var(--unique-white));
      }
      &-error {
        @include standard-helper(var(--spectrum-red-60), var(--unique-white));
      }
    }
  }

  .step-name {
    padding: 0 4px;
    color: var(--steel-90);
  }
}

.active {
  &-brand {
    @include standard-helper(var(--brand-sapphire-60), var(--unique-white));
  }
  &-success {
    @include standard-helper(var(--spectrum-green-60), var(--unique-white));
  }
  &-error {
    @include standard-helper(var(--spectrum-red-60), var(--unique-white));
  }
}
