$greyOpacity24: #97a4b73d;
$greyOpacity9: #97a4b716;
$blackOpacity12: rgba(0, 0, 0, 0.12);
$white: var(--never-changes-white);

@mixin rounded {
  border-radius: 50%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: relative;
  background-color: var(--steel-50);
  color: var(--unique-white);

  &:hover {
    color: var(--unique-white);
    cursor: pointer;
  }

  &.circle {
    @include rounded;

    .image {
      @include rounded;
    }
  }
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.online-indicator {
  @include rounded;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(103, 110, 118, 0.08), 0 1px 1px rgba(0, 0, 0, 0.12);
  z-index: 1001;
}
.number-indicator {
  @include rounded;
  position: absolute;
  left: 60%;
  top: 60%;
  box-shadow: 0 2px 5px rgba(103, 110, 118, 0.08), 0 1px 1px rgba(0, 0, 0, 0.12);
  z-index: 1001;
}

.online-indicator {
  width: 16px;
  height: 16px;

  &.online {
    background-color: var(--spectrum-green-50);
    border: 1px solid var(--unique-white);
  }
  &.offline {
    background-color: var(--steel-60);
    border: 1px solid var(--unique-white);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.overlay {
  @include rounded;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-sapphire-60);
  opacity: 0;
  color: var(--unique-white);
  cursor: pointer;
  z-index: 1000;

  &:hover {
    opacity: 1;
    background-color: color-mix(in srgb, var(--brand-sapphire-60) 70%, transparent);
  }
  width: 220px;
  height: 220px;
}
.avatar.xxxl:hover .letters {
  display: none;
}
.number-indicator {
  @include flex-center;
  cursor: default;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: var(--brand-sapphire-50);
  color: var(--unique-white);
  text-align: center;
  border: 1px solid var(--unique-white);
  padding: 4px 8px;
}

.letters {
  @include flex-center;
  cursor: default;
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
}
