$greyOpacity24: #97a4b73d;
$greyOpacity9: #97a4b716;
$blackOpacity12: rgba(0, 0, 0, 0.12);
$white: var(--never-changes-white);

@mixin rounded {
  border-radius: var(--circle-radius);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  position: relative;
  background-color: var(--ac-avatar-icon-default-bg);
  color: var(--ac-avatar-placeholder-default-initials);

  &:hover {
    background-color: var(--ac-avatar-icon-hover-bg);
    box-shadow: 0 1px 1px 0 $blackOpacity12, 0 0 0 2px $greyOpacity24, 0 2px 5px 0 $greyOpacity9;
    color: var(--ac-avatar-placeholder-hover-initials);
  }

  &.circle {
    @include rounded;

    .image {
      @include rounded;
    }
  }
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.online-indicator,
.number-indicator {
  @include rounded;
  position: absolute;
  right: 0;
  bottom: 0;
  box-shadow: 0 2px 5px rgba(103, 110, 118, 0.08), 0 1px 1px rgba(0, 0, 0, 0.12);
}

.online-indicator {
  width: 16px;
  height: 16px;

  &.online {
    background-color: var(--ac-avatar-online-indicators-bg-online-true);
    border: var(--1-border) solid var(--ac-avatar-online-indicators-stroke-online-true)
  }
  &.offline {
    background-color: var(--ac-avatar-online-indicators-bg-online-false);
    border: var(--1-border) solid var(--ac-avatar-online-indicators-stroke-online-false);
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.number-indicator {
  @include flex-center;
  cursor: default;
  background-color: var(--ac-avatar-number-indicator-bg);
  color: var(--ac-avatar-number-indicator-number);
  text-align: center;
  border: var(--1-border) solid var(--ac-avatar-number-indicator-stroke);
}

.letters {
  @include flex-center;
  cursor: default;
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
}
