@mixin body1mono-medium {
  font-size: var(--body1-mono-medium-font-size);
  line-height: var(--body1-mono-medium-line-height);
  font-weight: var(--body1-mono-medium-font-weight);
}

// Стили основного компонента
.breadcrumbs {
  display: flex;
  gap: 8px;
  width: inherit;
  padding: 8px 0;
}

// Стили для Crumb
.crumb {
  display: flex;
  align-items: center;
  position: relative;

  &:hover,
  &:focus-within {
    .link {
      color: var(--brand-sapphire-60);
    }

    .separator svg {
      color: var(--brand-sapphire-60);
    }
  }

  &.isLast {
    .link {
      color: var(--steel-90);
      cursor: default;
      pointer-events: none;
    }
  }
}

.link {
  color: var(--steel-70);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @include body1mono-medium;
}

.separator {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: var(--steel-70);
  transition: color 0.3s ease;
}

// Стили для ShortenBreadcrumbs
.options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--steel-70);
  @include body1mono-medium;

  &:hover {
    color: var(--brand-sapphire-60);

    .separator svg {
      color: var(--brand-sapphire-60);
    }
  }
}

.show {
  color: var(--brand-sapphire-60);

  .separator svg {
    color: var(--brand-sapphire-60);
  }
}

.list {
  color: var(--steel-90);
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  right: initial;
  width: fit-content;
  overflow-y: auto;

  &:focus {
    color: var(--brand-sapphire-60);
  }
}

.option {
  padding: 8px 8px 8px 12px !important;
  min-width: 200px;

  &:first-child {
    padding-top: 12px;
  }

  &:last-child {
    padding-bottom: 12px;
  }
}
