// Стили основного компонента
.breadcrumbs {
  display: flex;
  gap: 8px;
  width: inherit;
  padding: 8px 0;
}

// Стили для LinkComponent
.link {
  color: var(--steel-70);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--brand-sapphire-60);

    .separator svg {
      fill: var(--brand-sapphire-60);
    }
  }

  &-active {
    color: var(--steel-90);
    cursor: default;
    pointer-events: none;

    .separator svg {
      fill: var(--steel-90);
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  margin-left: 8px;

  svg {
    fill: var(--steel-70);
  }
}

.text {
  white-space: nowrap;
  max-width: 108px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Стили для ShortenBreadcrumbs
.options {
  position: relative;
  display: flex;
  justify-content: center;
  color: var(--steel-70);
  font-size: var(--body1-medium-font-size);
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: var(--brand-sapphire-60);

    .separator svg {
      fill: var(--brand-sapphire-60);
    }
  }
}

.list {
  max-height: 192px;
  right: initial;
}

.show {
  color: var(--steel-90);

  .separator svg {
    fill: var(--steel-90);
  }
}

.option {
  padding: 12px;

  &:first-child {
    padding-top: 12px;
    padding-bottom: 0;
  }

  &:last-child {
    padding-top: 0;
    padding-bottom: 12px;
  }

  &:hover,
  &:focus {
    .link:not(.link-active) {
      color: var(--brand-sapphire-60);

      .separator svg {
        fill: var(--brand-sapphire-60);
      }
    }
  }
}

