@mixin content-mixin {
  width: 100%;
  margin: 0;
  padding: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: auto;

  &-target {
    display: inline-block;
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: inherit;
    outline: inherit;
    cursor: inherit;
    padding: 0;
  }

  &-container {
    position: absolute;
    display: flex;
    left: 50%;
    bottom: var(--tooltip-placement);
    margin: 0;
    padding: 8px 12px;
    align-items: center;
    width: max-content;
    z-index: 1000;
    color: var(--unique-white);
    border-radius: 4px;
    transform: translateX(-50%);
    pointer-events: none;
  }

  &.tooltip-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: max-content;
    pointer-events: none;
    z-index: 10000;
    background-color: var(--unique-black);
    color: var(--unique-white);
    border-radius: 4px;
    padding: 8px 12px;

    &.tooltip-clickable {
      pointer-events: auto;
    }

    &.tooltip-wrapper-inverse {
      background-color: var(--steel-10);
      color: var(--steel-90);
      border: 1px var(--steel-40) solid;
    }

    &.tooltip-render-inverse {
      background-color: var(--steel-10);
      color: var(--steel-90);
    }
  }

  .arrow-styling {
    display: none;
  }
}
