@mixin content-helper($bg, $color) {
  background: $bg;
  color: $color;
}

.snackbar {
  position: relative;
  display: flex;
  min-height: 56px;
  box-sizing: border-box;
  max-width: 100%;
  padding: 8px 8px 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &-outline:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -1px;
    width: 6px;
    height: 100%;
    border-radius: 4px 0 0 4px;
  }
}

.snackbar-outline {
  background: var(--steel-10);
}

.snackbar-dark {
  @include content-helper(var(--spectrum-sky-50), var(--unique-white));
}

.snackbar-green {
  @include content-helper(var(--spectrum-green-50), var(--unique-white));
}

.snackbar-red {
  @include content-helper(var(--spectrum-red-50), var(--unique-white));
}

.snackbar-orange {
  @include content-helper(var(--spectrum-yellow-50), var(--unique-white));
}

.snackbar-white {
  @include content-helper(var(--spectrum-sky-10), var(--steel-90));
}

.snackbar-grey {
  @include content-helper(var(--steel-30), var(--steel-90));
}

.snackbar-light-green {
  @include content-helper(var(--spectrum-green-10), var(--steel-90));
}

.snackbar-pink {
  @include content-helper(var(--spectrum-red-10), var(--steel-90));
}

.indicator-white:before {
  @include content-helper(var(--spectrum-sky-10), var(--steel-90));
}

.indicator-green:before {
  @include content-helper(var(--spectrum-green-50), var(--steel-90));
}

.indicator-red:before {
  @include content-helper(var(--spectrum-red-50), var(--steel-90));
}

.indicator-grey:before {
  @include content-helper(var(--steel-30), var(--steel-90));
}

.indicator-dark:before {
  @include content-helper(var(--spectrum-sky-50), var(--steel-90));
}

.indicator-light-green:before {
  @include content-helper(var(--spectrum-green-10), var(--steel-90));
}

.indicator-pink:before {
  @include content-helper(var(--spectrum-red-10), var(--steel-90));
}

.indicator-orange:before {
  @include content-helper(var(--spectrum-yellow-50), var(--steel-90));
}

.actions {
  display: flex;
  gap: 8px;

  .close {
    &:hover {
      background-color: unset;
    }

    &-light {
      path {
        fill: var(--unique-white);
      }
    }

    &-dark {
      path {
        fill: var(--steel-70);
      }
    }

    &-outline {
      path {
        fill: var(--steel-90);
      }
    }
  }

  .action {
    &:hover {
      background-color: unset;
    }

    &-light {
      color: var(--unique-white);
    }

    &-dark {
      color: var(--unique-bluewhite);
    }
  }
}

.text {
  &-light {
    color: var(--unique-white);
  }

  &-dark {
    color: var(--steel-90);
  }
}
