.wrapper {
  padding: var(--30-size);
  width: 70vw;
  max-width: 900px;
  min-width: 150px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--30-size);
  background-color: var(--steel-20);
}

.row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 32px;

  & + & {
    margin-top: 64px;
  }
}
