.wrapper {
  height: auto;
  width: auto;
  color: var(--text-grey-900);
}

.padding-space-m {
  padding: var(--12-space) var(--16-space);
}

.padding-space-s {
  padding: var(--8-space) var(--12-space);
}

.padding-space-xs {
  padding: var(--4-space) var(--8-space);
}
