.rail {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  border-radius: 2px;
  background-color: var(--ac-input-slider-none-default-bg);

  &-disabled {
    background-color: var(--ac-input-slider-none-disabled-bg);
  }
}

.inner-rail {
  position: absolute;
  height: 100%;
  background-color: var(--ac-input-slider-none-default-line);

  &-disabled {
    background-color: var(--ac-input-slider-none-disabled-line);
  }
}
