.rail {
  position: absolute;
  width: calc(100% + 24px);
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  border-radius: 4px;
  background-color: var(--steel-50);
}

.inner-rail {
  position: absolute;
  height: 100%;
  background-color: var(--brand-sapphire-60);
  border-radius: 4px;

  &-disabled {
    background-color: var(--steel-60);
  }
}
