.control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 14px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  z-index: 2;
  cursor: pointer;
  background-color: var(--brand-sapphire-60);

  &-disabled {
    background-color: var(--steel-60);
  }

  .hover-wrapper {
    position: relative;
    background-color: var(--brand-sapphire-60);
  }

  .point-hover {
    position: absolute;
    z-index: -1;
    bottom: 50%;
    right: 50%;
    transform: translate(42%, 50%);
    width: 40px;
    height: 40px;
    opacity: 0.15;
    border-radius: 100px;
    background-color: var(--brand-sapphire-60);
  }

  .control-tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 8px;
    min-width: 11px;
    height: 32px;
    color: var(--steel-90);
    border-radius: 2px;
    background-color: transparent;

    &-none {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border-top: 8px solid transparent;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      border-bottom: none;
      margin-left: -6px;
    }

    &-disabled {
      color: var(--steel-70);
    }
    &-bottom {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 19px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0 8px;
      min-width: 11px;
      height: 32px;
      color: var(--steel-90);
      border-radius: 2px;
      background-color: transparent;
    }
  }

  .two-sticks {
    height: 4px;
    width: 4px;
    background-color: inherit;
    border-right: 1px solid var(--unique-white);
    border-left: 1px solid var(--unique-white);
  }
}
