.root {
  display: flex;
  align-items: center;
}

.progress {
  width: 100%;
  height: 4px;
  background-color: var(--info-lightblue-200);
  border-radius: 27px;
  box-sizing: border-box;

  &-fill {
    height: 100%;
    background-color: var(--primary-blue-600);
    border-radius: 27px;
    transition: width 0.3s ease;
  }

  &-label {
    margin-top: 12px;
    margin-bottom: 0;
    color: var(--text-grey-500);
  }

  &-percentage {
    color: var(--primary-blue-600);
    text-align: right;
    min-width: 4ch;
    padding-left: 12px;
  }
}
