.space {
  margin: 0 16px;
}

.divider-content {
  color: var(--steel-90);
}

.test-classname {
  color: var(--steel-90);
  & * {
    border-bottom-width: 1px;
    border-bottom-color: var(--steel-90);
  }
}

.btn-divider-handler {
  margin: 0 8px;
}

.show-divider-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
