// FIXME: --action-active not found
.action {
  color: var(--action-active);

  path {
    fill: var(--action-active);
  }
}

// FIXME: --action-disabled not found
.disabled {
  color: var(--action-disabled);

  path {
    fill: var(--action-disabled);
  }
}

.error {
  color: var(--spectrum-red-60);

  path {
    fill: var(--spectrum-red-60);
  }
}

.primary {
  color: var(--brand-sapphire-60);

  path {
    fill: var(--brand-sapphire-60);
  }
}

// FIXME: --primary-blue-100 not found
.secondary {
  color: var(--primary-blue-100);

  path {
    fill: var(--primary-blue-100);
  }
}

.inherit {
  color: inherit;
}

.success {
  color: var(--spectrum-green-60);

  path {
    fill: var(--spectrum-green-60);
  }
}

.warning {
  color: var(--spectrum-yellow-60);

  path {
    fill: var(--spectrum-yellow-60);
  }
}

.mask {
  mask: url(#masked);
  mask-type: alpha;
}
