// was --action-active
.action {
  color: var(--steel-60);

  path {
    fill: var(--steel-60);
  }
}

// was --action-disabled
.disabled {
  color: var(--steel-50);

  path {
    fill: var(--steel-50);
  }
}

.error {
  color: var(--spectrum-red-60);

  path {
    fill: var(--spectrum-red-60);
  }
}

.primary {
  color: var(--brand-sapphire-60);

  path {
    fill: var(--brand-sapphire-60);
  }
}

// was --primary-blue-100
.secondary {
  color: var(--brand-sapphire-10);

  path {
    fill: var(--brand-sapphire-10);
  }
}

.inherit {
  color: inherit;
}

.success {
  color: var(--spectrum-green-60);

  path {
    fill: var(--spectrum-green-60);
  }
}

.warning {
  color: var(--spectrum-yellow-60);

  path {
    fill: var(--spectrum-yellow-60);
  }
}

.mask {
  mask: url(#masked);
  mask-type: alpha;
}
