.arrow {
  height: 24px;
  width: 24px;
  transition: 0.3s ease-out;

  &.open {
    transform: rotate(180deg);
  }
}

.button {
  height: 24px;

  &:hover {
    background: transparent !important;
  }

  &.disabled {
    cursor: not-allowed;

    path {
      fill: var(--steel-70);
    }
  }
}
