.arrow {
  height: var(--24-size);
  width: var(--24-size);
  transition: 0.3s ease-out;

  &.open {
    transform: rotate(180deg);
  }
}

.button {
  height: var(--24-size);
  padding: 0 var(--4-size) 0 0;

  &:hover {
    background-color: var(--ac-input-default-bg-hover) !important;
  }

  &.disabled {
    background-color: var(--ac-input-disabled-bg);
    cursor: not-allowed;

    path {
      fill: var(--ac-icon-disabled);
    }

    &:hover {
      background-color: var(--ac-input-disabled-bg);
    }
  }
}
