.tab-wrapper {
  display: flex;
  font-family: var(--font-families-pt-root-ui);
  align-items: center;
  gap: 8px;
  width: fit-content;
  height: 38px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: all 1.2ms ease-in-out;
  &:hover {
    > span {
      color: var(--brand-sapphire-60);
    }
    svg {
      path {
        fill: var(--brand-sapphire-60);
      }
    }
  }
}

.tooltip {
  height: 16px;
  cursor: pointer;
  > div {
    button {
      padding: 0;
    }
  }
}

.text {
  color: var(--steel-90);
  &:hover {
    text-decoration: none;
  }
}

.tab-active {
  border-bottom: 2px solid var(--brand-sapphire-60);
  cursor: text;
  transition: all ease-in-out 0.4s;
  &:hover {
    > span {
      color: var(--steel-90);
    }
    svg {
      path {
        fill: var(--steel-90);
      }
    }
  }
  .text-active {
    cursor: text;
    &:hover {
      color: var(--steel-90);
    }
  }
}

.badge {
  margin-left: 4px;
  pointer-events: none;
}
.icon {
  margin-top: 4px;
  pointer-events: none;
}
