:root {
  --submenu-width: 363px;
  --submenu-height: 80vh;
}

.submenu {
  background: var(--steel-10);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: var(--submenu-width);
  height: 100vh;

  &-vertical,
  &-vertical-right {
    top: 0;
    right: calc(-1 * var(--submenu-width));

    &-enter {
      right: 0;
    }

    &-enter-active {
      right: calc(-1 * var(--submenu-width));
      transition: all 0.3s;
    }

    &-exit {
      right: calc(-1 * var(--submenu-width));
    }

    &-exit-active {
      right: 0;
      transition: all 0.3s;
    }
  }

  &-vertical-left {
    top: 0;
    left: calc(-1 * var(--submenu-width));

    &-enter {
      left: 0;
    }

    &-enter-active {
      left: calc(-1 * var(--submenu-width));
      transition: all 0.3s;
    }

    &-exit {
      left: calc(-1 * var(--submenu-width));
    }

    &-exit-active {
      left: 0;
      transition: all 0.3s;
    }
  }

  &-horizontal {
    height: var(--submenu-height);
    bottom: calc(-1 * var(--submenu-height));

    &-enter {
      bottom: 0;
    }

    &-enter-active {
      bottom: calc(-1 * var(--submenu-height));
      transition: all 0.3s;
    }

    &-exit {
      bottom: calc(-1 * var(--submenu-height));
    }

    &-exit-active {
      bottom: 0;
      transition: all 0.3s;
    }
  }

  &-fluid {
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
  }
}

.favorites {
  &-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    color: var(--steel-90);
  }
}

.top {
  display: flex;
  position: relative;
  height: 48px;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  z-index: 15;
}

.body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 15;
  flex-grow: 1;

  &-favorite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 15;
    flex-grow: 1;
  }

  &-fluid {
    overflow-x: auto;
    flex-direction: row;
  }
}

.switch-position {
  position: relative;
  top: 4px;
}

.title {
  padding-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
