$accordion-border: solid var(--1-size) var(--ac-accordion-paper-divider);

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  border: $accordion-border;
  border-radius: var(--8-size);
  overflow: hidden;

  & > div:not(:first-child) {
    border-top: $accordion-border;
  }
}
