$accordion-border: solid 1px var(--unique-divider);

.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  border: $accordion-border;
  border-radius: 8px;
  overflow: hidden;

  & > div:not(:first-child) {
    border-top: $accordion-border;
  }
}
