@mixin transition-effect {
  transition: all 0.3s ease-in-out;
}

@mixin icon-size($size) {
  > div {
    height: var(--#{$size}-size);
    width: var(--#{$size}-size);
    > svg {
      height: var(--#{$size}-size);
      width: var(--#{$size}-size);
    }
  }
}

.wrapper {
  display: flex;
  gap: var(--4-space);
  cursor: pointer;
  width: fit-content;
  > a,
  path {
    @include transition-effect;
    color: var(--ac-link-default);
    text-decoration: none;
  }

  &:hover,
  &:visited,
  &:active {
    > a,
    path {
      color: var(--ac-link-hover);
      text-decoration: underline;
      fill: var(--ac-link-hover);
    }
  }

  > a {
    text-decoration-skip-ink: none;
  }

  &:hover > a,
  &:hover path {
    color: var(--ac-link-hover);
    fill: var(--ac-link-hover);
  }

  &:visited > a,
  &:visited path {
    color: var(--ac-link-active);
    fill: var(--ac-link-active);
  }

  &:active > a,
  &:active path {
    color: var(--ac-link-click);
    fill: var(--ac-link-click);
  }
}

.disabled {
  pointer-events: none;
  > a,
  path {
    color: var(--ac-link-disabled);
    fill: var(--ac-link-disabled);
    text-decoration: underline;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

// Обобщение стилей для иконок с учетом размера
.icon-h1,
.icon-h2,
.icon-sub1 {
  @include icon-size(32);
}

.icon-h3,
.icon-sub2 {
  @include icon-size(24);
}

.icon-h4,
.icon-sub3,
.icon-body,
.icon-body1,
.icon-body2,
.icon-caption {
  @include icon-size(16);
}

.test-style {
  cursor: cell;
}
