@mixin transition-effect {
  transition: all 0.3s ease-in-out;
}

@mixin icon-size($size) {
  > div {
    height: $size;
    width: $size;

    > svg {
      height: $size;
      width: $size;
    }
  }
}

.wrapper {
  display: flex;
  gap: 4px;
  cursor: pointer;
  width: fit-content;

  > a,
  path {
    @include transition-effect;
    color: var(--brand-sapphire-60);
    text-decoration: none;
  }

  &:hover,
  &:visited,
  &:active {
    > a,
    path {
      color: var(--brand-sapphire-60);
      text-decoration: underline;
      fill: var(--brand-sapphire-60);
    }
  }

  > a {
    text-decoration-skip-ink: none;
  }

  &:hover > a,
  &:hover path {
    color: var(--brand-sapphire-60);
    fill: var(--brand-sapphire-60);
  }

  &:visited > a,
  &:visited path {
    color: var(--brand-sapphire-60);
    fill: var(--brand-sapphire-60);
  }

  &:active > a,
  &:active path {
    color: var(--brand-sapphire-60);
    fill: var(--brand-sapphire-60);
  }
}

.disabled {
  pointer-events: none;

  > a,
  path {
    color: var(--steel-60);
    fill: var(--steel-60);
    text-decoration: underline;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

// Обобщение стилей для иконок с учетом размера
.icon-h1,
.icon-h2,
.icon-sub1 {
  @include icon-size(32px);
}

.icon-h3,
.icon-sub2 {
  @include icon-size(24px);
}

.icon-h4,
.icon-sub3,
.icon-body,
.icon-body1,
.icon-body2,
.icon-caption {
  @include icon-size(16px);
}

.test-style {
  cursor: cell;
}
