@mixin cell {
  display: flex;
  height: var(--64-size);
  box-sizing: border-box;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
}

.user{
  @include cell;

  &-text {
    color: var(--ac-sidebar-section-text);
  }

  &:hover {
    background: var(--ac-sidebar-section-hover-bg);
  }
}

.auth {
  @include cell;
  justify-content: center;
  width: var(--64-size);

  &:hover {
    button {
      background: var(--ac-button-black-clear-hover-bg);
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--64-size);
  height: var(--64-size);
  flex-shrink: 0;
}
